{% extends "apps/phishing/base.html" %}

{% block content %}
<div id="leftbox">
	<div class="box_color_green">
	<h1>Register phishing</h1>
		Email address or URL:
		<form action="/phishing/add" method="post" enctype="multipart/form-data" width="450px">{% csrf_token %}
			{% for field in phishingform %}
	        	{{ field.errors }}
	        	{{ field }}
	        {% endfor %}
	    	<input type="submit" value="Save" />
	    </form>
	</div>
</div>

<div id="rightbox">
	<h2>Tags</h2>
	{% for tag in tagcloud %}
		<font size="{{ tag.font_size }}"><a href="/search/tag?t={{ tag.id }}">{{ tag }}</a></font>
	{% endfor %}
</div>
<br clear="all">

<h2>Latest phish</h2>
<hr>
	<table border=0>
		<th>Reported by</th>
		<th>Name</th>
		<th>Type</th>
		<th>Date</th>
		<th>Reference</th>
		{% for n in phish reversed %}
			<tr class="{% cycle row1,row2 %}">
				<td><a href="/user/{{ n.user.id }}">{{ n.user.first_name }} {{ n.user.last_name }}</a></td>
				<td><a href="/phishing/{{ n.phish.id }}/show">{{ n.data }}</a></td>
				<td>{{ n.get_type_display }}</td>
				<td>{{ n.timecreated|date:"Y-m-d h:i:s" }} ({{ n.timecreated|timesince }} ago)</td>
				{% if n.reference %}
					<td><a href="/search/reference?r={{ n.reference.id }}">{{ n.reference }}</a></td>
				{% else %}
					<td></td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>

<br>

{% endblock %}