{% extends 'userprofile/userprofile_base.html' %}

{% block userprofile_leftside %}
                   <br>
                <ul class="tabs">
                    <li><a href="/settings/profile">Profile</a></li>
                    <li class="active"><a href="/accounts/change_password">Password</a></li>
                    <li><a href="/settings/notifications">Notifications</a></li>
                    <li><a href="/settings/federation">Federation</a></li>
                </ul>
            <h5>Change your password</h5>
    <form action="" method="post">{% csrf_token %}
            {{ form.old_password.errors }}
            {{ form.old_password }}
            Old password
            <br><br>
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
            New password
            <br><br>
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
            New password again
            <br>
            <br>
            <input class="btn success" type=submit value="Change Password"/>
    </form>
{% endblock %}

{% block userprofile_rightside %}
    <h5>Change your password</h5>
    <p>Here you can change your password. Enter your old password followed by a new one. Repeat the new password.</p>
{% endblock %}
