{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="span16 columns">
                <br>
                <ul class="tabs">
                    <li><a href="/settings/profile">Profile</a></li>
                    <li class="active"><a href="/accounts/change_password">Password</a></li>
                    <li><a href="/settings/notifications">Notifications</a></li>
                    <li><a href="/settings/visibility">Visibility</a></li>
                    <li><a href="/settings/federation">Federation</a></li>
                </ul>
            <h5>Your password has been changed!</h5>
            <a class="btn" href="/accounts/change_password">Close</a>
        </div>
     </div>
</div>
{% endblock %}