{% extends "userprofile/userprofile_base.html" %}
{% load thumbnail %}
{% load comments %}
{% load taggit_extras %}

{% block userprofile_leftside %}
<br>

    {% if messages %}
    {% for message in messages %}
        <div class="alert-message block-message success">
                <strong>{{ message }}</strong>
                <p>in order to set up your account, please take a moment and fill out your <a href="/settings">profile information</a>. From there you will also be able to adjust your <a href="/settings/visibility">visibility settings</a> and <a href="settings/notifications">turn on notifications</a>.</p>
        
        </div>
    {% endfor %}
    {% endif %}

<div class="well" id="share">
<form method="post" action="/newpost">{% csrf_token %}
    <textarea rows=1 id="id_comment" name="post" placeholder="Share your thoughts .."></textarea>
    <br><br>
    <div id="button_block">
              <div class="input-prepend left inline">
                <span class="add-on">Share</span>
                <ul class="checkbox-select nav input-small" data-dropdown="dropdown">
                    <li class="menu">
                        <a href="#" class="menu">Local</a>
                        <ul class="menu-dropdown inputs-list" data-checkbox-dropdown="checkbox-dropdown">
                            {% for box in boxes %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="boxes" value="{{ box.node }}">
                                        <span>{{ box }}</span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        <input type="submit" class="btn success" id="button_submit" value="Post" />
        <input type="submit" class="btn" id='button_cancel' value="Cancel" />
        <input type="hidden" name="type" value="user" />
        <button id="upload_button" class="btn info right">Upload evidence</button>
    </div>
</form>
</div>

<div class="well hidden" id="upload">
<h6>Upload evidence</h6>
<form action="/report/add/file" method="post" enctype="multipart/form-data">{% csrf_token %}
    <span class="left" style="margin-right:10px;">
    {% for field in uploadform %}
        {{ field.errors }}
        {{ field }}
    {% endfor %}
    </span>
    <div class="input-prepend inline">
        <span class="add-on">Share</span>
        <ul class="checkbox-select nav input-small" data-dropdown="dropdown">
            <li class="menu">
                <a href="#" class="menu">Local</a>
                <ul class="menu-dropdown inputs-list" data-checkbox-dropdown="checkbox-dropdown">
                    {% for box in boxes %}
                        <li>
                            <label>
                                <input type="checkbox" name="boxes" value="{{ box.node }}">
                                <span>{{ box }}</span>
                            </label>
                        </li>
                    {% endfor %}

                </ul>
            </li>
        </ul>
    </div>

    <input type="submit" value="Upload" class="btn"/>
    <a href="" id="upload_cancel_button" class="btn error hidden">Cancel</a>


</form>
</div>

<!-- Stream -->
<div id="stream">
{% for item in stream|dictsortreversed:"time"|slice:"10" %}
    <div class="post_container">
        {% ifequal item.type "comment" %}
            <div class="avatar">
                {% if item.object.user.profile.avatar %}
                    {% thumbnail item.object.user.profile.avatar "40x40" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "40x40" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>
            <div class="post_box">
                <a href="/user/{{ item.object.user.id }}"><strong>{{ item.object.user.profile.name }}</strong></a>
                <span class="quiet right">{{ item.object.submit_date|timesince }} ago</span>
                {% ifequal item.object.content_type.name "file" %}
                    <div class="blokk">commented on {{ item.object.content_type }}<a href="/file/{{ item.object.content_object.id }}/show"> {{ item.object.content_object.sha1 }}</a></div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "investigation" %}
                    <div class="blokk">commented on {{ item.object.content_type }}<a href="/investigation/{{ item.object.content_object.id }}"> {{ item.object.content_object.title }}</a>
                    </div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "user" %}
                    <div class="blokk">to <a href="/file/{{ item.object.content_object.id }}/show">{{ item.object.content_object.profile.name }},</a>
                    </div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "report" %}
                    <span class="threadText">
                        <i><a href="/report/{{ item.object.content_object.id }}/show">{{ item.object.content_object.sha1 }}</a></i>
                    </span>
                {% endifequal %}

                {% ifequal item.object.content_type.name "tag" %}
                    <span class="threadText">
                        <i>{{ item.object.content_object }}</i>
                    </span>
                {% endifequal %}

                <br>
                {{ item.object.comment|linebreaksbr|slice:"140"|escape }}
                <br>

            </div>
        {% endifequal %}

        {% ifequal item.type "file" %}
            <div class="avatar">
                {% if item.object.user.profile.avatar %}
                    {% thumbnail item.object.user.profile.avatar "40x40" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "40x40" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>

            <div class="post_box">
                <a href="/user/{{ item.object.user.id }}"><strong>{{ item.object.user.profile.name }}</strong></a>
                <span class="quiet right">{{ item.object.time_created|timesince }} ago</span>
                <div class="blokk">uploaded file <a href="/file/{{ item.object.id }}/show">{{ item.object.sha1 }}</a>
                </div>
            </div>
        {% endifequal %}

        {% ifequal item.type "post" %}
            <div class="avatar">
                {% if item.object.user.profile.avatar %}
                    {% thumbnail item.object.user.profile.avatar "40x40" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "40x40" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>

            <div class="post_box">
                <a href="/user/{{ item.object.user.id }}"><strong>{{ item.object.user.profile.name }}</strong></a>
                <span class="quiet right">{{ item.object.time_created|timesince }} ago</span>
                <div class="blokk">New post</div>
                <br>
                {{ item.object.post|linebreaksbr|escape }}
            </div>
        {% endifequal %}

        {% ifequal item.type "investigation" %}
            <div class="avatar">
                {% if item.object.creator.profile.avatar %}
                    {% thumbnail item.object.creator.profile.avatar "40x40" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "40x40" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>
            <div class="post_box">
                <a href="/user/{{ item.object.creator.id }}"><strong>{{ item.object.creator.profile.name }}</strong></a>
                <span class="quiet right">{{ item.object.time_created|timesince }} ago</span>
                <div class="blokk">started a {{ item.type }} <a href="/investigation/{{ item.object.id }}">{{ item.object.title}}</a>
                </div>
            </div>
        {% endifequal %}
    </div>
{% endfor %}
<!-- END stream -->
</div>
{% endblock %}

{% block userprofile_rightside %}
    <h4 class="left">Your investigations</h4><a href="#" style="margin-top:8px;" class="right add" id="new_investigation">New</a>
    <form method="post" action="/investigation/create" id="new_investigation_form" class="hidden"> {% csrf_token %}
        <input class="left" type='text' name="title" id="id_title">
        <input type='submit' value="Add" class="btn right">
    </form>
    <br><br>
    {% if investigations %}
        <table class="noborder">
            {% for investigation in investigations|dictsortreversed:"last_updated"|slice:"5" %}
                <tr>
                    <td>
                        <a href="/investigation/{{ investigation.id }}"><strong>{{ investigation.title }}</strong></a>
                        <br>
                        <span class="quiet">{{ investigation.last_updated|timesince }} ago</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h6>No investigations</h6>
    {% endif %}

    <!--
    {% get_taglist as tags %}
    {% if tags %}
    <h4>Trending</h4>
    <table class="noborder">
            {% for tag in tags|slice:"5" %}
            <tr>
                <td>
                    <a href="/investigation/{{ investigation.id }}"><strong>{{ tag }}</strong></a>
                    <br>
                    <span class="quiet">Used {{ tag.num_times }} time{{ tag.num_times|pluralize }}</span>
                </td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
    -->
{% endblock %}