{% extends "userprofile/userprofile_base.html" %}
{% load thumbnail %}

{% block userprofile_leftside %}
        <br>
            <ul class="tabs">
                <li><a href="/settings/profile">Profile</a></li>
                <li><a href="/accounts/change_password">Password</a></li>
                <li><a href="/settings/notifications">Notifications</a></li>
                <li class="active"><a href="/settings/visibility">Visibility</a></li>
                <li><a href="/settings/federation">Federation</a></li>
            </ul>
            {% if messages %}
                <br>
                <br>
                <br>
                {% for message in messages %}
                    <div class="alert-message info">
                        <p>
                            <strong>{{ message }}</strong>
                        </p>
                    </div>
                {% endfor %}
            {% endif %}

            <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
                <h5>My visibility</h5>
                <br>
                {{ form.avatar_public }} Show my avatar to federated peers
                <br><br>
                {{ form.post_as_you }} Mark my posts to federation peers as originating from me, instead of this system
                <br><br><br>
                <input class="btn success" type="submit" value="Save">
            </form>
{% endblock %}

{% block userprofile_rightside %}
    <h5>Configure visibility</h5>
    <p>Configure how you will be exposed to federation peers. These settings doesn't affect your local presence.</p>
{% endblock %}
