{% extends "userprofile/userprofile_base.html" %}
{% load thumbnail %}

{% block userprofile_leftside %}
        <br>
            <ul class="tabs">
                <li class="active"><a href="/settings/profile">Profile</a></li>
                <li><a href="/accounts/change_password">Password</a></li>
                <li><a href="/settings/notifications">Notifications</a></li>
                <li><a href="/settings/visibility">Visibility</a></li>
               <li><a href="/settings/federation">Federation</a></li>
            </ul>
            {% if messages %}

                {% for message in messages %}
                    <div class="alert-message info">
                        <p>
                            <strong>{{ message }}</strong>
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
            <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
                <span class="left" style="margin-right:30px;">
                {% if user.profile.avatar %}
                    {% thumbnail user.profile.avatar "80x80" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "80x80" crop="center" as im %}
                        <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}

                </span>
                <h5>Change avatar</h5>
                <input type="file" name="avatar" id="id_avatar">
                <br><br><br><br>
                <h5>What do you want to be called?</h5>
                {{ form.name }}
                <h5>Email</h5>
                {{ form.email.errors }}
                {{ form.email }}
                <h5>Where are you located?</h5>
                {{ form.location }}
                <h5>Where can we find you online?</h5>
                {{ form.web }}
                <h5>Tell us something about you</h5>
                {{ form.bio }}
                <br><br>
                <input class="btn success" type="submit" value="Save">
            </form>
{% endblock %}

{% block userprofile_rightside %}
<h5>Edit profile</h5>
<p>Here you can edit your personal information.</p>
{% endblock %}
