{% extends "userprofile/userprofile_base.html" %}
{% load thumbnail %}

{% block jquery %}
        $("#button_block").hide()
        $("#id_comment").focus(function() {
            $(this).animate({"height": "85px"}, "fast" );
            $("#button_block").slideDown("fast");
            return false;
        });
        $("#button_cancel").click(function() {
            $("#id_comment").animate({"height": "18px"}, "fast" );
            $("#button_block").slideUp("fast");
            return false;
        });
        $("#upload_button").click(function() {
            $('#share').fadeOut('fast', function() {
                $('#upload_button').hide()
                $('#upload_cancel_button').show().click(function() {
                   $('#upload').hide();
                   $('#share').show();
                   $('#upload_cancel_button').hide()
                   $('#upload_button').show()
                });
                $('#upload').fadeIn('fast');
            });
            return false;
        });
        $("#new_investigation").click(function() {
            $("#new_investigation_form").fadeIn("fast");
            $("#new_investigation").hide();
            $("#id_title").focus();
            return false;
        });
{% endblock %}

{% block userprofile_leftside %}
        <br>
            <div class="avatar left">
                {% if profile_user.profile.avatar %}
                    {% thumbnail profile_user.profile.avatar "120x120" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "120x120" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>

            <h1>{{ profile_user.profile.name }}</h1>
            <h5 style="margin-top:-25px;">{{ profile_user.username }} <span class="quiet">{{ profile_user.profile.location }}</span></h5>
            {{ profile_user.profile.bio }}
            <br>
            <a href="{{ profile_user.profile.web }}">{{ profile_user.profile.web }}</a>
            <br><br><br>
            {% ifequal user profile_user %}
                <div class="well" id="share">
                    <form method="post" action="/post">{% csrf_token %}
                        <textarea rows=1 id="id_comment" name="post" placeholder="Share your thoughts .."></textarea>
                        <br><br>
                        <div id="button_block">
                            <input type="submit" class="btn success" id="button_submit" value="Post" />
                            <input type="submit" class="btn" id='button_cancel' value="Cancel" />
                            <input type="hidden" name="type" value="user" />
                        </div>
                    </form>
                </div>
            {% endifequal %}
<!-- Stream -->
{% for item in stream|dictsortreversed:"time"|slice:"10" %}
    <div class="post_container">
        {% ifequal item.type "comment" %}
            <div class="avatar">
                {% if item.object.user.profile.avatar %}
                    {% thumbnail item.object.user.profile.avatar "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>
            <div class="post_box">
                <a href="/user/{{ item.object.user.id }}"><strong>{{ item.object.user.profile.name }}</strong></a>
                <span class="quiet right">{{ item.object.submit_date|timesince }} ago</span>
                {% ifequal item.object.content_type.name "file" %}
                    <div class="blokk">commented on {{ item.object.content_type }}<a href="/file/{{ item.object.content_object.id }}/show"> {{ item.object.content_object.sha1 }}</a></div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "investigation" %}
                    <div class="blokk">commented on {{ item.object.content_type }}<a href="/investigation/{{ item.object.content_object.id }}"> {{ item.object.content_object.title }}</a>
                    </div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "user" %}
                    <div class="blokk">to <a href="/file/{{ item.object.content_object.id }}/show">{{ item.object.content_object.profile.name }},</a>
                    </div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "report" %}
                    <span class="threadText">
                        <i><a href="/report/{{ item.object.content_object.id }}/show">{{ item.object.content_object.sha1 }}</a></i>
                    </span>
                {% endifequal %}

                {% ifequal item.object.content_type.name "tag" %}
                    <span class="threadText">
                        <i>{{ item.object.content_object }}</i>
                    </span>
                {% endifequal %}

                <br>

                {{ item.object.comment|linebreaksbr|slice:"140" }}
                <br>

            </div>
        {% endifequal %}

        {% ifequal item.type "file" %}
            <div class="avatar">
                {% if item.object.user.profile.avatar %}
                    {% thumbnail item.object.user.profile.avatar "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>

            <div class="post_box">
                <a href="/user/{{ item.object.user.id }}"><strong>{{ item.object.user.profile.name }}</strong></a>
                <span class="quiet right">{{ item.object.time_created|timesince }} ago</span>
                <div class="blokk">uploaded file <a href="/file/{{ item.object.id }}/show">{{ item.object.sha1 }}</a>
                </div>
            </div>
        {% endifequal %}

        {% ifequal item.type "post" %}
            <div class="avatar">
                {% if item.object.author.profile.avatar %}
                    {% thumbnail item.object.author.profile.avatar "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>

            <div class="post_box">
                <a href="/user/{{ item.object.author.id }}"><strong>{{ item.object.author.profile.name }}</strong></a>
                <span class="quiet right">{{ item.object.time_created|timesince }} ago</span>
                <div class="blokk">New post <a href="/investigation/{{ item.object.content_object.id }}">{{ item.object.content_object.title}}</a></div>
                <br>
                {{ item.object.post|linebreaksbr }}
            </div>
        {% endifequal %}

        {% ifequal item.type "investigation" %}
            <div class="avatar">
                {% if item.object.creator.profile.avatar %}
                    {% thumbnail item.object.creator.profile.avatar "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail "img/avatar_placeholder.png" "40x40" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
            </div>

            <div class="post_box">
                <a href="/user/{{ item.object.creator.id }}"><strong>{{ item.object.creator.profile.name }}</strong></a>
                <span class="quiet right">{{ item.object.time_created|timesince }} ago</span>
                <div class="blokk">started a {{ item.type }} <a href="/investigation/{{ item.object.id }}">{{ item.object.title}}</a>
                </div>
            </div>
        {% endifequal %}
    </div>
{% endfor %}
<!-- END stream -->
{% endblock %}

{% block userprofile_rightside %}
    {% ifequal profile_user user %}
        <h4 class="left">Your investigations</h4><a href="#" style="margin-top:8px;" class="right add" id="new_investigation">New</a>
    {% else %}
        <h4 class="left">Investigations</h4>
    {% endifequal %}
    <form method="post" action="/investigation/create" id="new_investigation_form" class="hidden"> {% csrf_token %}
        <input class="left" type='text' name="title" id="id_title">
        <input type='submit' value="Add" class="btn right">
    </form>
    <br><br>
    {% if investigations %}
        <table class="noborder">
            {% for investigation in investigations|dictsortreversed:"last_updated"|slice:"5" %}
                <tr>
                    <td>
                        <a href="/investigation/{{ investigation.id }}"><strong>{{ investigation.title }}</strong></a>
                        <br>
                        <span class="quiet">{{ investigation.last_updated|timesince }} ago</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h6>No investigations</h6>
    {% endif %}

{% endblock %}