{% extends "base.html" %}

{% block jquery %}
        $("#button_block").hide()
        $("#id_comment").focus(function() {
            $(this).animate({"height": "85px"}, "fast" );
            $("#button_block").slideDown("fast");
            return false;
        });
        $("#button_cancel").click(function() {
            $("#id_comment").animate({"height": "18px"}, "fast" );
            $("#button_block").slideUp("fast");
            return false;
        });
        $("#upload_button").click(function() {
            $('#share').fadeOut('fast', function() {
                $('#upload_button').hide()
                $('#upload_cancel_button').show().click(function() {
                   $('#upload').hide();
                   $('#share').show();
                   $('#upload_cancel_button').hide()
                   $('#upload_button').show()
                });
                $('#upload').fadeIn('fast');
            });
            return false;
        });
        $("#new_investigation").click(function() {
            $("#new_investigation_form").fadeIn("fast");
            $("#new_investigation").hide();
            $("#id_title").focus();
            return false;
        });
        setInterval(function() {
            $('#stream').load('/ #stream');
        }, 5000);
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Leftside -->
        <div class="span10 columns">
            {% block userprofile_leftside %}{% endblock %}
        </div>
        <!-- Rightside -->
        <div class="span5 columns offset1">
            <br>
            {% block userprofile_rightside %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}