#* {
#   border: 1px solid red !important;
#}

body {
	font-family: Helvetica, sans-serif;
	margin:0;
	padding:0;
	text-align: center;
	background: #555 url("/site_media/img/test-bg.png");
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	color: #444;

}

#header {
	text-align: left;
	min-width: 960px;
	max-width: 1260px;
	margin: auto;
	height: 70px;
	margin-top:0px;
	#padding-top: 20px;
	#padding-bottom: 10px;
}

#breadcrumbs {
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	margin-left: 10px; 
	margin-right: 270px;
	-webkit-box-shadow: 8px 8px 10px #e8e8e8;
	-webkit-box-shadow: 8px 8px 10px #ececec;
	background:#fff;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:1px;
}

#content {
	color: #222;
	min-width: 960px;
	max-width: 1260px;
    text-align: left;
	background: #fbfbfb;
	background: #ececec;
	background: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 8px 8px 10px #2a2a2a;
	font-size: 0.85em;
	margin: auto;
	background: #fbfbfb;
	margin-top: 30px;
}

#logo {
	float: left;
	margin-top:10px;
}

#footer {
	padding: 10px; 
	color: silver;
	margin: auto;
	margin-top:12px;
	min-width: 960px;
	max-width: 1260px;
	text-align: right;
}

#search {
	float:right;
	margin-top:-50px;
}

.searchinput {
	padding: 5px;
	color: #222;
	background-color: #fff;
	border:0;
	font-weight: bold;
	font-size:1.0em;
	width: 270px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.box_color {
	color: #000;
	padding: 0.5em;
	background: #f0f7f9;
	margin-bottom: 10px;
	border: 1px solid silver;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.box_color_gray {
	color: #000;
	padding: 0.5em;
	background: #fbfbfb;
	margin-bottom: 10px;
	margin-right: 20px;
	border: 1px solid silver;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.box_color_green {
	color: #000;
	padding: 0.5em;
	background: #e4ffd4;
	margin-bottom: 10px;
	border: 1px solid silver;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 100%;
}

.box_comment {
	color: #222;
	padding: 5px;
}

.box_comment_color {
	color: #222;
	padding: 5px;
	background: #f3f3f3;
	border-top: 3px solid silver;
	border-bottom: 1px solid silver;
}

hr {
	border: 0;
	background: #ebebeb;
	height: 1px;
}

td, tr {
	font-size: 0.88em;
}

h1 {
	margin-top:0;
	font-size: 1.3em;
}


h3 {
	margin-top:5px;
	margin-bottom:5px;
}

h4 {
	font-size:22px;
	font-weight: normal;
	color: #434343;
	letter-spacing:0.005em;
	margin-top:5px;
	margin-bottom:15px;
}#breadcrumbs {
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	margin-left: 10px; 
	margin-right: 270px;
	-webkit-box-shadow: 8px 8px 10px #e8e8e8;
	-webkit-box-shadow: 8px 8px 10px #ececec;
	background:#fff;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:1px;
}


.big {
	font-size: 1.5em;
	color:#333;
}

.warn-title {
	margin:0px;
	margin-bottom:5px;
}

h2 {
	margin:3px;
	margin-left: 0px;
	font-size: 1.1em;
}

.row1 { background:#f0f7f9; }
.row2 { background:#fff; }

table { 
	border-collapse:collapse;
	border: 0;
	width:100%;
}

th {
	text-align: left;
	font-size: 0.92em;
	padding-bottom: 5px;
}

.post_container {
	border-bottom: 1px solid #ebebeb;
	min-height: 50px;
	margin-bottom: 10px;
}

.post_container:hover {
	background: #fbfbfb;
}

.post_box {
	color: #000;
	margin-bottom: 10px;
	margin-left: 50px;
}

.news_box {
	color: #000;
	padding-right: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px;
}

.news_box:hover {
	background: #fbfbfb;
}

.news_box_grey {
	background: #fbfbfb;#breadcrumbs {
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	margin-left: 10px; 
	margin-right: 270px;
	-webkit-box-shadow: 8px 8px 10px #e8e8e8;
	-webkit-box-shadow: 8px 8px 10px #ececec;
	background:#fff;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:1px;
}
	
	color: #000;
	padding: 10px;
	border: 1px solid #ebebeb;
	border: 1px solid silver;
	margin-bottom: 10px;
	#-webkit-box-shadow: 5px 5px 10px #ebebeb;
	-webkit-border-radius: 5px;
	
	
}

.news_box_red {
	background: #ffe6d4;
	color: #000;
	padding: 10px;
	border: 1px solid #ebebeb;
	border: 1px solid red;
	margin-bottom: 10px;
	#-webkit-box-shadow: 5px 5px 10px #ebebeb;
	-webkit-border-radius: 5px;
	
	
}

.main-menu-box {
	color: #000;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

.left-menu-box {
	color: #222;
	padding-right: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ececec;
	margin-bottom: 10px;
}

.contact-info {Modify text...
	margin-top: -50px;
}

.avatar {
	margin-right: 10px;
	float:left;
	-webkit-box-shadow: 2px 2px 5px #444;
}

.trunc-box {
	width: 60%;
}

.threadTitle {
	color: #333333;
	font-weight: bold;
}

.threadText {
	color: #777;
	font-weight: normal;
	font-size: 0.9em;
}

.threadTextOrange {
	color: #EE6100;
	font-weight: normal;
	font-size: 0.9em;
}


.threadTextDarker {
	color: #333;
	font-weight: normal;
	font-size: 0.9em;
}

.threadComment {
	float: right;
}

.error {
	padding: 8px;
	background: #ffe6d4;
	border: 1px solid #777;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
}

.white_box {
	padding: 8px;

	
	background: #fff;
	border: 1px solid silver;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	margin-bottom: 10px;
	min-height: 100px;
}



.success {
	padding: 10px;
	border: 1px dashed silver;
	background: #e4ffd4;
}

.warning {
	padding: 10px;
	background: #feffc2;
}

textarea {
	width: 100%;
	height: 120px;
	border: 1px solid silver;
	padding: 0.5em;
	background: #fff;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.trans {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}


a, a:visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}

a img{
	border:0;
}

a:hover {
	color: #EE6100;
}

a.menulink {
	color: silver;
	font-weight: normal;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;
}

a.normalLink {
	text-decoration: underline;
	color: silver;
	padding-left: 7px;
	padding-right: 7px;

}

a.normalLink:hover, a.menulink:hover {
	color: #fff;
}

a.orange {
	text-decoration: none;
	color: #EE6100;
}

a.orange:hover {
	color: #EE6100;
}


b.menu {
	padding-left: 7px;
	padding-right: 7px;
	color: #fff;
}

.threadTitle a, .threadTitle a:visited {
	color: #000;
	font-weight: bold;
}
.threadTitle a:hover {
	color: #EE6100;
}

#strings_box {
	padding: 10px;
    overflow: hidden;
    background: #feffc2;
    border: 1px solid silver;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
}

.news-title {
	font-weight: bold;
	font-size:1.2em;
	color: #222;
	text-decoration: underlined;
}

#middlebox {
	margin-left: 10px; 
	margin-right: 270px;
	min-height:550px;
	padding: 15px;
	border-left: 1px solid #silver;
	border-right: 1px solid #silver;
	border-bottom: 1px solid #silver;
	background:#fff;
	-webkit-border-radius: 0px 0px 8px 8px;
	-webkit-box-shadow: 8px 8px 10px #e8e8e8;
	-webkit-box-shadow: 8px 8px 10px #ececec;
}

#rightbox {
	float: right;
	padding: 10px;
	width: 250px;
	margin-top: px;
	#border-left: 1px dotted silver;
}

#streambox {
	float:left;
	width: 50%;
	border-right: 1px dotted silver;
	padding-right: 10px;
}

#todobox {
	float:right;
	width: 48%;
}

.box_color_white {
	color: #000;
	background: #fff;
}

li {
	list-style-type: none;
	#padding: 3px;
}

li:hover {
	background: #f3f3f3;
	color: #000;
}

li:hover a {
	color: #000;
}

li.selected {
	background: #ececec;
	font-weight: bold;
}

li.selected a {
	font-weight: bold;
}

.box_color_white_home {
	color: #000;
	background: #fff;
	width:100%;
}

.box_color_white_stream {
	color: #000;
	background: #fff;
	margin-bottom: 10px;
	min-height: 550px;
}


#my-timeline {
	height: 250px; 
	border: 1px solid #aaa;
}

#hidetext {
	padding-top: 5px;
}

.menutext {
	color: #fff;
	padding-left: 7px;
	padding-right: 7px;
}

.comment-root {
	list-style: none;
	padding-left: 0;
}

.comment-sub {
	list-style: none;
}

.comment {
	width: 100%;
}

.comment-container {
	border-bottom: 1px dotted silver;
	margin: 5px;
	padding-bottom: 5px;
}



.action-list {
	margin:0;
	padding-left:20px; 
	list-style-type: square;
} 

a.button {
	display:block;
	color:#555555;
	font-weight:bold;
	height:30px;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	width:100px;
	float:right;
}

a:hover.button {
	color:#0066CC;
}

.add {	
	background:url(/site_media/img/button/add.gif) no-repeat 10px 8px;
	text-indent:30px;
	display:block;
}

.user {
	background:url(/site_media/img/button/user.gif) no-repeat 10px 8px;	
	text-indent:30px;
	display:block;
}

h1.menu {
	padding:0;
	margin:0;
	font-size:1.1em;
}

p.menu {
	padding:0;
	margin:0;
	color:#777;
	font-size: 0.8em;
	font-style: italic;
}

#navlist
{
margin: 0;
padding:0;
margin-right: 600px;
float: right;
}

#navlist ul, #navlist li
{
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}



#navlist a:link, #navlist a:visited


{
float: left;
margin-right: 5px;
padding: 10px;
text-decoration: none;
color: #f1f1f1;
#border-right: 1px solid #555;
}

#navlist a:link#current, #navlist a:visited#current, #navlist a:hover
{
	background:silver;
	background: #555 url("/site_media/img/menu-test.png");
	color: #fff;
	-webkit-border-radius: 0px 0px 8px 8px;
	border:0;
	-webkit-box-shadow: 8px 8px 10px #111;
}

#navlist a:hover {
	color: #fff; 
}


##breadcrumbs {
#    padding: 10px 0 0 0;
#    width: 600px;
#}

#breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0 5px;
}

#breadcrumbs ul li {
    display: inline;
    margin: 0;
    padding: 0;
    color: #808080;
}
#breadcrumbs ul li a {
    white-space: nowrap;
}
#breadcrumbs ul li span {
    white-space: nowrap;
}

#breadcrumbs ul li.breadcrumblink a {
    padding: 0 1.5em 0 0.2em;
    background: url('/site_media/img/breadcrumb.png') no-repeat right center;
}

