{% extends 'base.html' %}

{% block content %}
<span style="font-size:25px; margin-right:20px; margin-top:3px;font-weight:300; 'Helvetica Neue',Helvetica,Arial,sans-serif">Change your password</span>
<br><br>
<div class="well">
<form action="" method="post">{% csrf_token %}
    {{ form.old_password.errors }}
    {{ form.old_password }}
    Old password
    <br>
    {{ form.new_password1.errors }}
    {{ form.new_password1 }}
    New password
    <br>
    {{ form.new_password2.errors }}
    {{ form.new_password2 }}
    New password again
    <br>
    <input class="btn success" type=submit value="Change Password"/>
</form>
</div>
{% endblock %}
