<!doctype html>
<html>
<head>
    <title>fordrop</title>
    <link rel='stylesheet' href='/site_media/bootstrap/css/bootstrap.min.css' type='text/css'>
    <link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <br><br><br><br><br><br><br>
            <div class="hero-unit">
                <span style="font-size:45px; margin-right:20px; margin-top:3px;font-weight:300; 'Helvetica Neue',Helvetica,Arial,sans-serif">You are soon done!</span>
                <br><br>
                <p>We have sent you an email to your specified email address, please follow the instructions in that email to complete your account creation.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>