body {
    background: #fff;
    color: #333;
}

#header {
    /*
    background: #333;
    height:45px;
    padding-top:15px;
    */
    width:100%;
    height: 80px;
    background-image: -moz-linear-gradient(top, #333333 0%, #111111 100%);
    background-image: -o-linear-gradient(top, #333333 0%, #111111 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(1, #111111));
    background-image: -webkit-linear-gradient(top, #333333 0%, #111111 100%);
    background-image: linear-gradient(to bottom, #333333 0%, #111111 100%);
    padding-top:20px;
}

.shadow2 {
    -moz-box-shadow: 10px 10px 50px #333;
    -webkit-box-shadow: 10px 10px 50px #333;
    box-shadow: 1px 1px 20px #333;
}

.left {
    float:left;
}

.right {
    float:right;
}

textarea {
    width:260px;
}

.quiet {
    color:#999;
}

.shadow {
    box-shadow: 1px 1px 3px #888;
}

.well.comment {
    background:#fff;
    left:auto;
}

.well.share {
    background: #fff;
    border:1px solid silver;
    left:auto;
}

.well.collection {
    background: #fff;
    border:1px solid silver;
}

.small {
    font-size:0.9em;
}

#timeline {
    height: 250px;
    border: 1px solid silver;
    background: #fff;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background-color: #f5f5f5;
}

.hero-unit.hero-white {
    background: #fff;
    padding:30px;
}