{% load thumbnail %}
<html>
	<head>
		<title>fordrop</title>
		<link rel="stylesheet" href="/site_media/css/blueprint/reset.css" type="text/css">
		<link rel="stylesheet" href="/site_media/css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/site_media/css/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="/site_media/css/blueprint/typography.css" type="text/css">
		<link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
		<link rel='stylesheet' href='/site_media/css/jquery-ui.css' type='text/css'>
		<script type="text/javascript" language="javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" language="javascript" src="/site_media/js/jquery-ui-1.8.4.custom.min.js"></script>
		{% block extrahead %}{% endblock %}
	</head>
	<body onload="onLoad();" onresize="onResize();">
    	<div id="header">
			<div class="container">
          		<div id="logo">
          			<a href="/"><img src="/site_media/img/logo3.png"></a>
				</div>

	<ul id="navlist">
        {% block menu %}{% endblock %}
	</ul>


				<div class="login_box2">
					<div class="avatar-mini"><img src={% thumbnail user.get_profile.avatar 25x25 crop %}></div>
					<div style="margin-top:10px;">
					<b>{{ user.first_name }}</b> | Federation | Settings | Logout
					</div>
				</div>
			</div>
		</div>

		<div id="subheader">
			<div class="container">
                <div class="search_box">
                    <form style="display:inline" method="post" action="/search">{% csrf_token %}
                        <input class="searchinput" type="text" name="search" value="Search"/>
                    </form>
                </div>
                {% block submenu %}{% endblock %}
		</div>

		<div class="container">
			<div class="span-24">
				{% block content %}{% endblock %}
			</div>
			<hr class="space">
		</div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>

  	</body>
</html>