<!doctype html>
<html>
<head>
    <title>fordrop</title>
    <link rel='stylesheet' href='/site_media/css/bootstrap-1.2.0.min.css' type='text/css'>
    <link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
	<script type="text/javascript" language="javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
    <script>
        $(document).ready(function() {
            {% block jquery %}{% endblock %}
        });
    </script>
	{% block extrahead %}{% endblock %}
</head>

<body {% block extrabody %}{% endblock %}>
<div class="topbar-wrapper" style="z-index: 5;">
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h3><a href="/">fordrop</a></h3>
        <form action="">
          <input type="text" placeholder="Search" />
        </form>
        <ul class="secondary-nav">
          <li>
            <a href="#">Settings</a>
          </li>
          <li>
            <a href="/accounts/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>

{% block content %}{% endblock %}
</body>
</html>