<!doctype html>
<html>

<head>
    <title>fordrop</title>
    <link rel='stylesheet' href='/site_media/css/bootstrap-1.2.0.min.css' type='text/css'>
    <link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
</head>

<div class="container">
  <div class="row">
      <div class="span8 columns">
          <h1 class="center">fordrop</h1>
          <form class="center" action="/accounts/login/" method="post" enctype="multipart/form-data">{% csrf_token %}

          <div class="clearfix">
            <label>Username</label>
            <div class="input">
              <input class="xlarge" type="text" name="username" id="username" />
            </div>
          </div>

          <div class="clearfix">
            <label>Password</label>
            <div class="input">
                <input class="xlarge" type="password" name="password" id="password" />
            </div>
          </div>

            <input type="submit" class="btn left" value="Login" />
          </form>
      </div>
  </div>
</div>

</body>
</html>
