{% extends "apps/upload/base.html" %}
{% load thumbnail %}

{% block menu %}
<div id="navcontainer">
	<ul id="navlist">
		<li><a href="/"><h1 class="menu"><br>Home</h1><p class="menu">My place</p></a></li>
		<li id="active"><a id="current" href="/upload"><h1 class="menu"><br>Upload & Report</h1><p class="menu">Share</p></a></li>
		<li><a href="/investigation"><h1 class="menu"><br>Investigations</h1><p class="menu">Collaborate</p></a></li>
	</ul>
</div>
{% endblock %}


{% block content %}

<div id="rightbox">
  <br>
	<h1>Tags</h1>
	{% for tag in tagcloud %}
		<font size="{{ tag.font_size }}"><a href="/search/tag?t={{ tag.id }}">{{ tag }}</a></font>
	{% endfor %}
</div>

<div id="breadcrumbs"> 
  <br>
  <ul> 
    <li class="breadcrumblink"><a href="/">Home</a></li> 
    <li><span>Upload & Report</span></li>
  </ul> 
  <hr>
</div> 
                
<div id="middlebox">
	<div class="news_box_grey">			
		<h1>Upload your forensic data</h1>
		Upload and share your findings and start collaborating with your collegues.
		You will quicly see if the file have been uploaded by soimeone else and or if
		the file is part of an investigation.<br><br>
		<form action="/upload" method="post" enctype="multipart/form-data" width="450px">{% csrf_token %}
			{% for field in uploadform %}
		       	{{ field.errors }}
		       	{{ field }}
	       	{% endfor %}
	    	<input type="submit" value="Upload" />
	    </form>

		<hr>

		<h1>Report incident</h1>
		Report and share your findings and start collaborating with your collegues.
		You will quicly see if the file have been uploaded by soimeone else and or if
		the file is part of an investigation.<br><br>
		<form action="/report/add" method="post" enctype="multipart/form-data" width="450px">{% csrf_token %}
			{% for field in genericreportform %}
		       	{{ field.errors }}
		       	{{ field }}
		    {% endfor %}
			<input type="submit" value="Save" />
		</form>
	</div>

          <br><br>
          <div id="news">
					{% for item in files|slice:":70"  %}
						<div class="news_box">
						<div class="avatar"><img class="avatar-thumb" src={% thumbnail item.user.get_profile.avatar 40x40 crop %}></div>
							<div class="news-title"><a href="/file/{{ item.file.id }}/show">{{ item.filename }}</a></div>
							<span class="threadTextDarker">
								<i>
									{{ item.file.filetype }}
								</i>
							</span>
							<br>
							<span class="threadText">{{ item.user.get_full_name }}</span><span class="threadText"> | {{ item.timecreated|timesince }} ago</span>
						</div>
					{% endfor %}
				</div>



</div>
<br clear="all">
</div>

{% endblock %}