{% extends 'base.html' %}
{% load thumbnail %}
{% block extrahead %}
        <script>
            $(document).ready(function(){
                $('#share-link').click(function(){
                    $("#share-form").toggle();
                });
                $('#new-collection').click(function(){
                    $("#collection-form").toggle();
                });
            });
        </script>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="span7">
        {% if files %}
        <span class="left" style="font-size:18px; margin-right:20px; margin-top:3px;font-weight:300; 'Helvetica Neue',Helvetica,Arial,sans-serif">The things you care about</span>
        <span class="btn btn-info right" style="cursor:pointer;" id="share-link"><i class="icon-share-alt icon-white"></i> Share your stuff</span>
        <br><br><br>
            <div id="share-form" class="well share hide">
                <form action="/share/file" method="post" enctype="multipart/form-data">{% csrf_token %}
                    {{ uploadform.file }}
                    <br>
                    <strong>2.</strong> Description (optional)
                    <br>
                    {{ uploadform.description }}
                    <br>
                    <strong>3.</strong> <i class="icon-tag"></i> Add tags (optional) <br>{{ uploadform.tags }}
                    <br>
                    {% if nodes %}
                    <strong>4.</strong> Share this to <br>
                    <div class="alert alert-info">
                    {% for node in nodes %}
                    <label class="checkbox">
                        <input type="checkbox" name="nodes" value="{{ node.node }}"> {{ node.name }}
                    </label>
                    {% endfor %}
                    </div>
                    {% endif %}
                    <input type="submit" value="Upload" class="btn"/>
                    <a href="" id="upload_cancel_button" class="btn error hidden">Cancel</a>
                </form>
            </div>

    {% for activity in activities %}
        {% ifequal activity.object.get_type 'file' %}
        <div class="well">
            <span class="left" style="margin-right:10px;">
            {% if activity.object.user.profile.avatar %}
                {% thumbnail activity.object.user.profile.avatar "60x60" crop="center" as im %}
                    <a href="/profile/{{ activity.object.user.id }}"><img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% endthumbnail %}
            {% else %}
                {% thumbnail "img/placeholder.png" "30x30" crop="center" as im %}
                    <a href="/profile/{{ activity.object.user.id }}"><img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% endthumbnail %}
            {% endif %}
            </span>

            <a href="/file/{{ activity.object.id }}"><h4 class="left">{{ activity.object.sha1 }}</h4></a><br>
            <span class="quiet">Reported {{ activity.object.time_created|timesince }} ago by <a href="/profile/{{ activity.object.user.id }}">{{ activity.object.user.profile.name }}</a></span>
            <br><br><br>
            {% if activity.object.description %}
            <blockquote>
                <p>{{ activity.object.description|linebreaksbr }}</p>
                <small>{{ activity.object.user.profile.name }}</small>
            </blockquote>
            {% endif %}
            {% if activity.object.tags.all %}
                <i style="margin-left:20px;" class="icon-tags"></i>
                {% for tag in activity.object.tags.all %}
                    <a href="/search/?q=tag:{{ tag|urlencode }}"><span class="label label-info">{{ tag }}</span></a>
                {% endfor %}
            {% endif %}
            {% if activity.object.collections %}
                <i style="margin-left:20px;" class="icon-book"></i>
                {% for collection in activity.object.collections %}
                    <a href="/collection/{{ collection.id }}" class="label label-success">{{ collection.title }}</a>
                {% endfor %}
            {% endif %}

            <div class="left" onclick="$(this).next('div.#comments').toggle('fast');$(this).nextAll('#last-comment:first').hide();">
                <i class="icon-comment"></i> {{ activity.object.comments|length }} <span style="cursor:pointer;">comment{{ activity.object.comments|pluralize }}</span> {% if activity.object.comments %}<i class="icon-chevron-down"></i>{% endif %}
            </div>
            <div id="comments" class="hide">
                <br>
                {% if activity.object.comments %}
                <div class="well comment">
                    {% for comment in activity.object.comments %}
                        <div class="left"></span>
                            {% if comment.user.profile.avatar %}
                            {% thumbnail comment.user.profile.avatar "30x30" crop="center" as im %}
                            <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            {% else %}
                            {% thumbnail "img/placeholder.png" "30x30" crop="center" as im %}
                            <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            {% endif %}
                        </div>
                        <div style="margin-left:40px;margin-top:-3px;">
                            <a href="/profile/{{ comment.user.id }}">{{ comment.user.profile.name }}</a><br>
                            <span class="quiet small">{{ activity.object.get_last_comment.time_created|timesince }} ago</span>
                            <br>
                            {{ comment.content|linebreaksbr }}
                            <br><br>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if activity.object.comments %}
            <br><br>
            <div class="well comment" id="last-comment">
                <div class="left"></span>
                    {% if activity.object.get_last_comment.user.profile.avatar %}
                        {% thumbnail activity.object.get_last_comment.user.profile.avatar "30x30" crop="center" as im %}
                            <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail "img/placeholder.png" "30x30" crop="center" as im %}
                            <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    {% endif %}
                </div>
                <div style="margin-left:40px;margin-top:-3px;">
                    <a href="/profile/{{ activity.object.get_last_comment.user.id }}">{{ activity.object.get_last_comment.user.profile.name }}</a><br>
                    <span class="quiet small">{{ activity.object.get_last_comment.time_created|timesince }} ago</span>
                    <br>
                    {{ activity.object.get_last_comment.content|linebreaksbr }}
                </div>
            </div>
            {% else %}
                <br><br>
            {% endif %}
            <form method="post" action="/file/{{ activity.object.id }}/comment">{% csrf_token %}
                <textarea style="width:490px;" onfocus="$(this).animate({'height': '85px'}, 'fast' );$(this).next('div.#submit-comment-button').show();" rows=1 id="id_content" name="content" placeholder="Share your thoughts .."></textarea>
                <div id="submit-comment-button" class="hide">
                    <input type="submit" value="Comment" class="btn"/>
                </div>
            </form>
        </div>
        {% endifequal %}

        {% ifequal activity.object.get_type 'collection' %}
        <div class="well">
            <a href="/file/{{ activity.object.id }}"><h4 class="left">{{ activity.object.title }}</h4></a><br>
            <span class="quiet">Last activity {{ activity.object.time_updated|timesince }} ago</span>
            {% if activity.object.comments %}
            <br><br>
            <div class="well comment" id="last-comment">
                <div class="left"></span>
                    {% if activity.object.get_last_comment.user.profile.avatar %}
                    {% thumbnail activity.object.get_last_comment.user.profile.avatar "30x30" crop="center" as im %}
                    <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    {% else %}
                    {% thumbnail "img/placeholder.png" "30x30" crop="center" as im %}
                    <img class="avatar_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    {% endif %}
                </div>
                <div style="margin-left:40px;margin-top:-3px;">
                    <a href="/profile/{{ activity.object.get_last_comment.user.id }}">{{ activity.object.get_last_comment.user.profile.name }}</a><br>
                    <span class="quiet small">{{ activity.object.get_last_comment.time_created|timesince }} ago</span>
                    <br>
                    {{ activity.object.get_last_comment.content|linebreaksbr }}
                </div>
            </div>
            {% endif %}
        </div>
        {% endifequal %}

        {% endfor %}

        {% else %}
        <br><br>
        <div class="hero-unit">
            <span style="font-size:25px; margin-right:20px; margin-top:3px;font-weight:300; 'Helvetica Neue',Helvetica,Arial,sans-serif">Get started</span>
            <br><br>
            <p>In order to get started you can upload info about files you have, or start following other people or collections</p>
            <a style="cursor:pointer;" id="share-link"><i class="icon-share-alt"></i> Share your stuff</a>
            <br>
            <a href="/explore" style="cursor:pointer;"><i class="icon-eye-open"></i> Explore what others are doing</a>
        </div>
            <div id="share-form" class="well share hide">
                <form action="/share/file" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <strong>1.</strong> File<br>
                    {{ uploadform.file }}
                    <br>
                    <strong>2.</strong> Description (optional)
                    <br>
                    {{ uploadform.description }}
                    <br>
                    <strong>3.</strong> <i class="icon-tag"></i> Add tags (optional) <br>{{ uploadform.tags }}
                    <br>
                    {% if nodes %}
                    <strong>4.</strong> Share this to <br>
                    <div class="alert alert-info">
                        {% for node in nodes %}
                        <label class="checkbox">
                            <input type="checkbox" name="nodes" value="{{ node.node }}"> {{ node.name }}
                        </label>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <input type="submit" value="Upload" class="btn"/>
                    <a href="" id="upload_cancel_button" class="btn error hidden">Cancel</a>
                </form>
            </div>

    {% endif %}
    </div>

        <div class="span5">
        <span class="left" style="font-size:18px; margin-right:20px; margin-top:3px;font-weight:300; 'Helvetica Neue',Helvetica,Arial,sans-serif">Collaborate</span>
        <span class="btn right" style="cursor:pointer;" id="new-collection"><i class="icon-plus"></i> New collection</span>
        <br><br><br>
        <div id="collection-form" class="well share hide">
            <form action="/collection" method="post" enctype="multipart/form-data">{% csrf_token %}
                <strong>1.</strong> Title<br>
                {{ collectionform.title }}
                <br>
                <strong>2.</strong> Description (optional)
                <br>
                {{ collectionform.description }}
                <strong>3.</strong> <i class="icon-tag"></i> Add tags to track (optional) <br>{{ collectionform.tags }}
                <br>
                {% if nodes %}
                <strong>4.</strong> Share this to <br>
                <div class="alert alert-info">
                    {% for node in nodes %}
                    <label class="checkbox">
                        <input type="checkbox" name="nodes" value="{{ node.node }}"> {{ node.name }}
                    </label>
                    {% endfor %}
                </div>
                {% endif %}
                <input type="submit" value="Save" class="btn"/>
                <a href="" id="collection_cancel_button" class="btn error hidden">Cancel</a>
            </form>
        </div>
        {% for collection in collections reversed %}
            <div class="well collection">
                <span class="left">
                    <a href="/collection/{{ collection.id }}"><h3>{{ collection.title }}</h3></a>
                    <span class="quiet">{{ collection.time_updated|timesince }} ago</span>
                </span>

                {% if user in collection.followers.all %}
                <form method="post" action="/collection/{{ collection.id }}/unfollow">{% csrf_token %}
                    <button class="right btn" type="submit">Unfollow</button>
                </form>
                {% else %}
                <form method="post" action="/collection/{{ collection.id }}/follow">{% csrf_token %}
                    <button class="right btn btn-success" type="submit"><i class="icon-plus icon-white"></i> Follow</button>
                </form>
                {% endif %}
                {% if collection.description %}
                    <br><br>
                    {{ collection.description|truncatewords:"30" }}
                {% endif %}
                <br><br>
                <i class="icon-user"></i> {{ collection.followers.all|length }} follower{{ collection.followers.all|pluralize }}
                <span style="margin-left:10px;"><i class="icon-file"></i> Tracking {{ collection.files|length }} files</span>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}