{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="span12">
        {% for obj in result %}
            {% ifequal obj.get_type 'file' %}
            <div class="well">
            <a href="/file/{{ obj.id }}"><h4 class="left">{{ obj.sha1 }}</h4></a><br>
            <span class="quiet">{{ obj.time_updated|timesince }} ago by <a href="{{ obj.user.profile.get_absolute_url }}">{{ obj.user.profile.name }}</a></span>
            <br>
            {% if obj.description %}
                <p>{{ obj.description|linebreaksbr|truncatewords:"15" }}</p>
            {% endif %}
            <br>
            {% if obj.tags.all %}
                <i class="icon-tags"></i>
                {% for tag in obj.tags.all %}
                    <a href="/search/?q=tag:{{ tag|urlencode }}"><span class="label label-info">{{ tag }}</span></a>
                {% endfor %}
            {% endif %}

            {% if obj.collections %}
                <i style="margin-left:20px;" class="icon-book"></i>
                {% for collection in obj.collections %}
                    <a href="/collection/{{ collection.id }}" class="label label-success">{{ collection.title }}</a>
                {% endfor %}
            {% endif %}
            <i class="icon-comment"></i> {{ obj.comments|length }} comment
            </div>
        {% endifequal %}

        {% ifequal obj.get_type 'collection' %}
        <div class="well">
            <a href="/collection/{{ obj.id }}"><h4 class="left">{{ obj.title }}</h4></a><br>
            <span class="quiet">{{ obj.time_updated|timesince }} ago by <a href="{{ obj.user.profile.get_absolute_url }}">{{ obj.user.profile.name }}</a></span>
            <br>
            {% if obj.description %}
            <p>{{ obj.description|linebreaksbr|truncatewords:"15" }}</p>
            {% endif %}
            <br>
            {% if obj.tags.all %}
            <i class="icon-tags"></i>
            {% for tag in obj.tags.all %}
            <a href="/search/?q=tag:{{ tag|urlencode }}"><span class="label label-info">{{ tag }}</span></a>
            {% endfor %}
            {% endif %}

            <i class="icon-comment"></i> {{ obj.comments|length }} comment
        </div>
        {% endifequal %}



        {% endfor %}
        </div>
    </div>
{% endblock %}