{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="hero-unit">
    <span style="font-size:45px; margin-right:20px; margin-top:3px;font-weight:300; 'Helvetica Neue',Helvetica,Arial,sans-serif">Welcome to fordrop</span>
    <br><br>
    <p>This is fordrop, a collaborative way of doing forensic investigations. Connect with other fordrop systems and exchange information through the federated backend. Read more on <a href="http://fordrop.org">fordrop.org</a>.</p>
    <br>
    <a class="right btn btn-info" href="/welcome/1">Get started! <i class="icon-white icon-arrow-right"></i></a>
</div>
{% endblock %}
