{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="hero-unit">
    <span style="font-size:45px; margin-right:20px; margin-top:3px;font-weight:300; 'Helvetica Neue',Helvetica,Arial,sans-serif">Ok, let's play</span>
    <br><br>
    <p>In fordrop you upload metadata about content. That content could be information about a binary, a URL or maybe just a hash of something. You can share these reports with others by the help of the federated backend in fordrop. The power comes with the comments and tags. You tag your uploaded data, and then you can create fordrop collections. These collections are groups of tracked tags that will enable you to aggregate information and conversation around a set of reports and build timelines of events.</p>
    <br>
    <a class="right btn btn-info" href="/">Start <i class="icon-white icon-arrow-right"></i></a>
</div>
{% endblock %}
