{% extends "apps/userprofile/userprofile_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block extrahead %}
<script>
    $(document).ready(function() {
        $("#button_block").hide()
        $("#id_comment").focus(function() {
            $(this).animate({"height": "85px"}, "fast" );
            $("#button_block").slideDown("fast");
            return false;
        });
        $("#button_cancel").click(function() {
            $("#id_comment").animate({"height": "18px"}, "fast" );
            $("#button_block").slideUp("fast");
            return false;
        });
    });
</script>
{% endblock %}

{% block userprofile_leftside %}
<ul class="tabs">
    <li class="active"><a href="/home">Activity</a></li>
    <li><a href="/home/inventory">Inventory</a></li>
    <li><a href="/home/readinglist">Reading list</a></li>
    <li><a href="/home/suggestions">Suggestions</a></li>
    <a href="/report" class="btn info right">Upload malware</a>
</ul>

<div class="well">
<form method="post" action="">
    <textarea rows=1 id="id_comment" placeholder="Share"></textarea>
    <br><br>
    <div id="button_block">
        <input type="submit" class="btn primary" id="button_submit" value="Post" />
        <input type="submit" class="btn" id='button_cancel' value="Cancel" />
    </div>
</form>
</div>

<!-- Stream -->
{% for item in stream|dictsortreversed:"time"|slice:"10" %}
    <div class="post_container">
        {% ifequal item.type "comment" %}
            <div class="avatar"><img class="avatar-thumb" src="{% thumbnail item.object.user.get_profile.avatar 40x40 crop %}"></div>
            <div class="post_box">
                <a href="/user/{{ item.object.user.id }}"><strong>{{ item.object.user.get_full_name }}</strong></a>
                {% ifequal item.object.content_type.name "file" %}
                    <div class="blokk">commented on {{ item.object.content_type }}<a href="/file/{{ item.object.content_object.id }}/show"> {{ item.object.content_object.sha1 }}</a>
                        <span class="quiet right">{{ item.object.submit_date|timesince }} ago</span>
                    </div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "investigation" %}
                    <div class="blokk">commented on {{ item.object.content_type }}<a href="/investigation/{{ item.object.content_object.id }}"> {{ item.object.content_object.title }}</a>
                        <span class="quiet right">{{ item.object.submit_date|timesince }} ago</span>
                    </div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "user" %}
                    <div class="blokk">to <a href="/file/{{ item.object.content_object.id }}/show">{{ item.object.content_object.get_full_name }},</a>
                        <span class="quiet right">{{ item.object.submit_date|timesince }} ago</span>
                    </div>
                {% endifequal %}

                {% ifequal item.object.content_type.name "report" %}
                    <span class="threadText">
                        <i><a href="/report/{{ item.object.content_object.id }}/show">{{ item.object.content_object.sha1 }}</a></i>
                    </span>
                {% endifequal %}

                {% ifequal item.object.content_type.name "tag" %}
                    <span class="threadText">
                        <i>{{ item.object.content_object }}</i>
                    </span>
                {% endifequal %}

                <br>

                {{ item.object.comment|linebreaksbr|slice:"140" }}
                <br>

            </div>
        {% endifequal %}

        {% ifequal item.type "file" %}
            <div class="avatar"><img class="avatar-thumb" src={% thumbnail item.object.user.get_profile.avatar 40x40 crop %}></div>
            <div class="post_box">
                <a href="/user/{{ item.object.user.id }}"><strong>{{ item.object.user.get_full_name }}</strong></a>
                <div class="blokk">uploaded file <a href="/file/{{ item.object.id }}/show">{{ item.object.file.sha1 }}</a>
                    <span class="quiet right">{{ item.object.timecreated|timesince }} ago</span>
                </div>
            </div>
        {% endifequal %}

        {% ifequal item.type "investigation" %}
            <div class="avatar"><img class="avatar-thumb" src={% thumbnail item.object.creator.get_profile.avatar 40x40 crop %}></div>
            <div class="post_box">
                <a href="/user/{{ item.object.creator.id }}"><strong>{{ item.object.creator.get_full_name }}</strong></a>
                <div class="blokk">started a {{ item.type }} <a href="/investigation/{{ item.object.id }}">{{ item.object.title}}</a>
                    <span class="quiet right">{{ item.object.timecreated|timesince }} ago</span>
                </div>
            </div>
        {% endifequal %}
    </div>
{% endfor %}
<!-- END stream -->
{% endblock %}
