{% extends "apps/userprofile/userprofile_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block userprofile_submenu %}
    <li><a href="/home" title="">Dashboard</a></li>
    <li><a href="/home/investigations" title="">My investigations</a></li>
    <li><a href="/home/inventory" title=""">Inventory</a></li>
    <li><a href="/home/readinglist" title="">Reading list</a></li>
    <li><a href="/home/suggestions" title="" class="current">Suggestions</a></li>
{% endblock %}

{% block userprofile_content %}
    <h2>Suggestions</h2>
{% endblock %}

{% block userprofile_sidebar %}
{% endblock %}
