{% extends "apps/userprofile/userprofile_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block userprofile_submenu %}
    <li><a href="{% url apps.userprofile.views.dashboard %}" title="">Dashboard</a></li>
    <li><a href="{% url apps.userprofile.views.my_investigations %}" title="">My investigations</a></li>
    <li><a href="{% url apps.userprofile.views.inventory %}" title="">Inventory</a></li>
    <li><a href="{% url apps.userprofile.views.reading_list %}" title="">Reading list</a></li>
    <li><a href="{% url apps.userprofile.views.suggestions %}" title="" class="current">Suggestions</a></li>
{% endblock %}

{% block userprofile_content %}
    <h2>Suggestions</h2>
{% endblock %}

{% block userprofile_sidebar %}
{% endblock %}
