{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Leftside -->
        <div class="span10 columns">
            {% block userprofile_leftside %}{% endblock %}
        </div>
        <!-- Rightside -->
        <div class="span5 columns offset1">
            <a href="/report" class="btn primary">&nbsp;&nbsp;Upload malware&nbsp;&nbsp;</a>
            <a href="/investigation" class="btn">New investigation</a>
            <br><br>
            <div class="well">
                <h4>Your investigations</h4>
                {% if investigations %}
                <table>
                    {% for investigation in investigations|dictsortreversed:"lastupdated"|slice:"5" %}
                        <tr>
                            <td>
                                <a href="/investigation/{{ investigation.id }}">{{ investigation.title }}</a>
                                <br>
                                <span class="quiet">{{ investigation.lastupdated|timesince }} ago</span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <h6>No investigations</h6>
                {% endif %}
            </div>
            {% block userprofile_rightside %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
