{% extends "investigation/investigation_base.html" %}
{% load comments %}
{% load thumbnail %}

{% block investigation_leftside %}
<ul class="tabs">
    <li><a href="/investigation/{{ investigation.id }}">Activity</a></li>
    <li><a href="/investigation/{{ investigation.id }}/timeline">Timeline</a></li>
    <li class="active"><a href="/investigation/{{ investigation.id }}/related">Related</a></li>
    <a href="/investigation/{{ investigation.id }}/graph" class="btn info right">Graph</a>

</ul>
    <br><br><br>
        {% for obj in investigation.tags.similar_objects %}
        <div class="post_container">
            <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
            <br>
            <span class="quiet">Sharing {{ obj.similar_tags }} tags with this investigation</span>
            <br>
        </div>
    {% endfor %}

{% endblock %}
