{% extends "apps/search/base.html" %}
{% load comments %}

{% block content %}
<h2>Search for tag <i>{{ tag.name }}</i></h2>
	<hr>
	<table border=0>
		<th>User</th>
		<th>Filename</th>
		<th>Date</th>
		<th>Reference</th>
		{% for file in files reversed %}
			{% for n in file reversed %}
				<tr class="{% cycle row1,row2 %}">
					<td><a href="/user/{{ n.user.id }}">{{ n.user.first_name }} {{ n.user.last_name }}</a></td>
					<td><a href="/files/{{ n.file.id }}/show">{{ n.filename }}</a></td>
					<td>{{ n.timecreated|date:"Y-m-d h:i:s" }} ({{ n.timecreated|timesince }} ago)</td>
					{% if n.reference %}
						<td><a href="/search/reference?r={{ n.reference.id }}">{{ n.reference }}</a></td>
					{% else %}
						<td></td>
					{% endif %}
				</tr>
			{% endfor %}
		{% endfor %}
	</table>

{% get_comment_count for tag as comment_count %}
<br>
<h2>Comments ({{ comment_count }})</h2>
<hr>
	{% get_comment_list for tag as comment_list %}
	{% for comment in comment_list reversed %}
	    <div class="post_container">
	    <div class="post_box">
	    	<span class="threadTitle"><a href="/user/{{ comment.user.id }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></span> 
			<br>
			<span class="threadText">{{ comment.submit_date|timesince }} ago</span> 
	    	<br><br>
	    	{{ comment.comment|linebreaksbr }}
	    </div>
	    </div>
	{% endfor %}

	
<h3>Write a comment</h3>
	{% get_comment_form for tag as form %}
	<form action="{% comment_form_target %}" method="post">{% csrf_token %}
		<input type="hidden" name="next" value="/search/tag?t={{ tag.id }}" />  
		{% for hidden in form.hidden_fields %}
        	{{ hidden }}
    	{% endfor %}
		{{ form.comment }}
		<br>
  		<input type="submit" value="Post">
	</form>	



{% endblock %}