body {
    line-height:19px;

}

#header {
	background: #555 url("/site_media/img/bg.png");
    background-repeat: no-repeat;
    background-repeat: repeat-x;
	height:70px;
  	color:#fff;
}

#footer {
	background: #fbfbfb;
	height:80px;
    border-top: 1px solid silver;
}

#subheader {
	background: #ececec;
	height:40px;
	margin-bottom:20px;
	border-bottom: 1px solid silver;
	#-webkit-box-shadow: 0 0 15px #999;

}

#logo {
	float:left;
	margin-top: 10px;
    padding-right: 10px;
}

#search {
	float:left;
	margin-top: 5px;
    padding-right: 20px;
}

#navlist
{
margin: 0;
padding:0;
float: left;
}

#navlist ul, #navlist li
{
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}



#navlist a:link, #navlist a:visited
{
float: left;
margin-right: 1px;
padding: 10px;
padding-top: 10px;
text-decoration: none;
color: #fff;

}

#navlist a:link#current, #navlist a:visited#current, #navlist a:hover
{
	background:silver;
	background: #555 url("/site_media/img/menu.png");
	color: #fff;
    #-webkit-border-radius: 0px 0px 8px 8px;
	border:0;
    #-webkit-box-shadow: 8px 8px 10px #111;
    height:50px;

}

#navlist a:hover {
	color: #fff; 
}

h3.menu {
	padding:0;
	margin:0;
	margin-top:0px;
	color:#fff;
	font-weight:;
	font-size: 1.4em;
}

p.menu {
	padding:0;
	margin:0;
	color:#777;
	font-style: italic;
}

#timeline {
	height: 250px; 
	border: 1px solid silver;
}

.news_box_grey {
	background: #fbfbfb;
	border: 1px solid silver;
  	-webkit-border-radius: 5px;
	-webkit-box-shadow: 2px 2px 2px #e8e8e8;
	padding:10px;
}

.login_box {
	background: #555 url("/site_media/img/menu.png");
  	-webkit-border-radius: 0px 0px 8px 8px;
  	-webkit-box-shadow: 8px 8px 10px #111;
	border:0;
	width:300px;
	height:20px;
	float:right;	
	padding: 10px;
}

.login_box2 {
    width:100px;
	height:20px;
	float:right;
}

.searchinput {
    background:#555;
	height:30px;
	width:200px;
	font-weight:normal;
	padding:5px;
	color:#777;
	-webkit-border-radius: 6px;
}

.news-title {
	font-weight: bold;
	font-size:1.2em;
	color: #222;
}

.threadText {
	color: #777;
	font-weight: normal;
}

.threadTextDarker {
	color: #333;
	font-weight: normal;
}

a, a:visited {
	font-weight: bold;
	text-decoration: none;
    color:#4183c8;
}

a img{
	border:0;
}

a:hover {
    text-decoration:underline;
    color:#4183c8;

}

.avatar {
  margin-right: 10px;
  float:left;
  -webkit-box-shadow: 2px 2px 5px #444;
  border: 1px solid #fff;
}

.avatar-mini {
  float:left;
  margin-top:7px;
  border: 1px solid #555;
}


.post_box {
	color: #000;
	margin-bottom: 20px;
    margin-left: 50px;
}


#navlist2
{
padding: 9px 0;
border-bottom: 1px solid silver;
}

#navlist2 li
{
list-style: none;
margin: 0;
display: inline;
}

#navlist2 li a
{
  padding: 10px 1em;
  margin-left: 2px;
  border: 1px solid silver;
  border-bottom: none;
  background: #DDE;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-border-radius: 4px 4px 0px 0px;
  background: #fff url("/site_media/img/tab.png");
  background-repeat: no-repeat;
  background-repeat: repeat-x;
}

#navlist2 li a:link { color: #448; }
#navlist2 li a:visited { color: #667; }

#navlist2 li a:hover
{
  color: #000;
  border-color: #227;
  border-bottom: none;
}

#navlist2 li a#current
{
  background: white;
  border-bottom: 1px solid white;
  color: #111;
}

.sidebarbox {
  	-webkit-border-radius: 5px;
    border:1px solid silver;
    margin:0;
    
}
.sidebarboxheader {
  	-webkit-border-radius: 5px 5px 0 0 ;
    border-bottom:1px solid silver;
    background:#fbfbfb;
    padding:10px;
}

.sidebarboxheader h3 {
    margin:0;
}


.sidebarboxbody {
    padding:10px;
}

#menu {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
	margin: 0;
	padding: 0;
}
#menu a {
	background:url("images/seperator.gif") bottom right no-repeat;
    font-size: 1.2em;
    font-weight: bold;
	color: #333;
	display: block;
	float: left;
	margin: 0;
	padding: 12px 25px;
	padding-left: 0;
    text-decoration: none;
}
#menu a:hover {
	#background: #2580a2 url("images/hover.gif") bottom center no-repeat;
    color: #2580a2;
    #color: #fff;
	padding-bottom: 8px;
}


ul#saturday{margin:0;padding:0;list-style-type:none;width:640;
position:relative;display:block;height:39px;
font-size:12px;font-weight:bold;
font-family:Helvetica,Arial,Verdana,sans-serif;
border-bottom:0px solid #888;}

ul#saturday li{display:block;float:left;margin:0;pading:0;}

ul#saturday li a{display:block;float:left;color:#333;
text-decoration:none;padding:12px 10px 0 10px;height:27px;
background:transparent url("images/bgDIVIDER.gif") no-repeat top right;}
ul#saturday li a:hover{
background:transparent url("images/bgHOVER.gif") no-repeat top right;border-bottom:3px solid #888;}

ul#saturday li a.current,ul#saturday li a.current:hover{color:#333;border-bottom:3px solid #888;font-weight:bold;margin-right:1px;margin-left:1px;
}

.add {
  display:block;
  text-decoration:none;
  background:url(/site_media/img/button/add.gif) no-repeat 0px 2px;
  text-indent:20px;
}

textarea {
	width: 100%;
	height: 250px;
	border: 1px solid silver ;
	padding: 0.5em;
	background: #fff;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.titleinput {
    width:100%;
    padding:10px;
    border-color:silver;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}