{% extends "apps/investigation/base.html" %}
{% load thumbnail %}
{% load comments %}

{% block menu %}
<div id="navcontainer">
	<ul id="navlist">
		<li><a href="/"><h1 class="menu"><br>Home</h1><p class="menu">My place</p></a></li>
		<li><a href="/upload"><h1 class="menu"><br>Upload & Report</h1><p class="menu">Share</p></a></li>
		<li id="active"><a id="current" href="/investigation"><h1 class="menu"><br>Investigations</h1><p class="menu">Collaborate</p></a></li>
	</ul>
</div>
{% endblock %}


{% block content %}

<div id="rightbox">
<br>
<h1>People</h1>
<img class="avatar-shadow" src={% thumbnail investigation.creator.get_profile.avatar 50x50 crop %}>
<br><br>
<hr>

<h1>Tags</h1>
{% for tag in tags %}<a href="/search/tag?t={{ tag.id }}">{{ tag }}</a> {% endfor %}

      <form action="/tag/add/investigation/{{ investigation.id }}" method="post" enctype="multipart/form-data" width="450px">{% csrf_token %}
        {% for field in tagform %}
          {{ field.errors }}
          {{ field }}
        {% endfor %}
        <input type="submit" value="Add tag" />
      </form>
<br>

<h1>Pages</h1>
<ul>
  {% for page in investigation.pages.all %}
   <li><a href="/investigation/{{ investigation.id }}/page/{{ page.id }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
<br>
<span class="add-page">Create new page</span>

</div>

<div id="breadcrumbs"> 
  <ul> 
    <br>
    <li class="breadcrumblink"><a href="/investigation">Investigations</a></li> 
    <li class="breadcrumblink"><a href="/investigation/{{ investigation.id }}">{{ investigation.title }}</a></li> 
    <li><span>Discussion</span></li>
  <hr>
  </ul> 

<br>

<div id="navlist2">
<ul>
  <li><a href="/investigation/{{ investigation.id }}">Overview</a></li>
  <li id="active"><a href="#" id="current">Discussion</a></li>
  <li><a href="/investigation/{{ investigation.id }}/timeline">Timeline</a></li>
  <li><a href="/investigation/{{ investigation.id }}/library">Library</a></li>
</ul>
</div>

<br>
<h1 class="big">Discussion</h1>
  
</div>

<div id="middlebox">

{% get_comment_count for investigation as comment_count %}

{% if comment_count %}
  <h2>{{ comment_count }} comments</h2>
{% endif %}

{% get_comment_list for investigation as comments %}
{% for comment in comments %}
    <div class="comment-container">
      <div class="comment">
          <div class="avatar"><img class="avatar-thumb" src={% thumbnail comment.user.get_profile.avatar 32x32 crop %}></div>
          <span class="threadTitle"><a href="/user/{{ comment.user.id }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></span><br>
          <span class="threadText">{{ comment.submit_date|timesince }} ago</span><br><br>
          {{ comment.comment|linebreaksbr }}
      </div>        
    </div>        
{% endfor %}

<br>

<div class="box_color">
  <h1>Write a comment</h1>
  <br>
  {% get_comment_form for investigation as form %}
  <form action="/comments/post/" method="post">{% csrf_token %}
      <input type="hidden" name="next" value="/investigation/{{ investigation.id }}/discussion" />
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {{ form.comment }}
      <br>
      <input type="submit" value="Post">
  </form>
</div>
</div>

<br clear="all">

{% endblock %}