{% extends "apps/investigation/base.html" %}

{% block content %}
<div id="leftbox-upload">
	<div class="box_color_green">
		<h1>Investigations</h1>
		Here you can start, browse or participate in ongoing investigations.<br>
		It is a place to collaborate and start joint investigations that spans<br>
		over multiple places.

	</div>
</div>
<br clear="all">
<br clear="all">

<div class="white_box">
	<h1>Start new investigation</h1>
</div>

<div class="white_box">
	<h1>Active investigations</h1>
</div>

<h1>Timeline</h1>
	<div id="my-timeline"></div>
	<noscript>
		This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
	</noscript>	
{% endblock %}