{% extends "apps/investigation/base.html" %}
{% load thumbnail %}
{% load comments %}
{% load threadedcomments_tags %}

{% block menu %}
<div id="navcontainer">
	<ul id="navlist">
		<li><a href="/"><h1 class="menu"><br>Home</h1><p class="menu">My place</p></a></li>
		<li><a href="/upload"><h1 class="menu"><br>Upload & Report</h1><p class="menu">Share</p></a></li>
		<li id="active"><a id="current" href="/investigation"><h1 class="menu"><br>Investigations</h1><p class="menu">Collaborate</p></a></li>
	</ul>
</div>
{% endblock %}


{% block content %}

<div id="rightbox">
<br>
<h1>People</h1>
<img class="avatar-shadow" src={% thumbnail investigation.creator.get_profile.avatar 50x50 crop %}>
<br><br>
<hr>

<h1>Tags</h1>
{% for tag in tags %}<a href="/search/tag?t={{ tag.id }}">{{ tag }}</a> {% endfor %}

      <form action="/tag/add/investigation/{{ investigation.id }}" method="post" enctype="multipart/form-data" width="450px">{% csrf_token %}
        {% for field in tagform %}
          {{ field.errors }}
          {{ field }}
        {% endfor %}
        <input type="submit" value="Add tag" />
      </form>
<br>

<h1>Pages</h1>
<ul>
  {% for page in investigation.pages.all %}
   <li><a href="/investigation/{{ investigation.id }}/page/{{ page.id }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
<br>
<span class="add-page">Create new page</span>

</div>

<div id="breadcrumbs"> 
  <ul> 
    <br>
    <li class="breadcrumblink"><a href="/investigation">Investigations</a></li> 
    <li class="breadcrumblink"><a href="/investigation/{{ investigation.id }}">{{ investigation.title }}</a></li> 
    <li><span>Library</span></li>
  <hr>
  </ul> 

<br>

<div id="navlist2">
<ul>
  <li><a href="/investigation/{{ investigation.id }}">Overview</a></li>
  <li><a href="/investigation/{{ investigation.id }}/discussion">Discussion</a></li>
  <li><a href="/investigation/{{ investigation.id }}/timeline">Timeline</a></li>
  <li id="active"><a href="/investigation/{{ investigation.id }}/library" id="current">Library</a></li>
</ul>
</div>
</div>

<div id="middlebox">

  <h1 class="big">Pages</h1>
  <div class="news_box_grey">
  {% for page in investigation.pages.all %}
      <a href="/investigation/{{ investigation.id }}/page/{{ page.id }}">
      <div class="news-title">{{ page.title }}</div>
        <span class="threadTextDarker">
         <i>
          {{ page.content|linebreaksbr|truncatewords:"50" }}
         </i>
        </span>
        <br>
      <span class="threadText">Last activity was {{ page.lastupdated|timesince }} ago</span>
      <br>
      <br>
      </a>
  {% endfor %}
  </div>

</div>
<br clear="all">

{% endblock %}