{% extends "apps/investigation/base.html" %}
{% load thumbnail %}
{% load comments %}
{% load threadedcomments_tags %}

{% block extrahead %}
  <script>
      Timeline_ajax_url="/site_media/js/timeline_2.3.0/timeline_ajax/simile-ajax-api.js";
      Timeline_urlPrefix="/site_media/js/timeline_2.3.0/timeline_js/";       
      Timeline_parameters='bundle=true';
  </script>
  <script src="/site_media/js/timeline_2.3.0/timeline_js/timeline-api.js"    
      type="text/javascript">
  </script> 
  <script src="/site_media/js/timeline_2.3.0/timeline_js/timeline-api.js?bundle=true" type="text/javascript"></script>
  <script src="/site_media/js/timeline_2.3.0/timeline_ajax/simile-ajax-api.js" type="text/javascript"></script>
  <script>
    var jsonurl = '/timeline';
    var date = '{{ startdate }}';
  </script>
  <script src="/site_media/js/fd_timeline.js" type="text/javascript"></script>
{% endblock %}

{% block menu %}
<div id="navcontainer">
	<ul id="navlist">
		<li><a href="/"><h1 class="menu"><br>Home</h1><p class="menu">My place</p></a></li>
		<li><a href="/upload"><h1 class="menu"><br>Upload & Report</h1><p class="menu">Share</p></a></li>
		<li id="active"><a id="current" href="/investigation"><h1 class="menu"><br>Investigations</h1><p class="menu">Collaborate</p></a></li>
	</ul>
</div>
{% endblock %}


{% block content %}

<div id="rightbox">
<br>
<h1>People</h1>
    <img class="avatar-shadow" src={% thumbnail investigation.creator.get_profile.avatar 50x50 crop %}>

</div>

<div id="breadcrumbs"> 
  <ul> 
    <br>
    <li class="breadcrumblink"><a href="/investigation">Investigations</a></li> 
    <li><span>{{ investigation.title }}</span></li>
  </ul> 
  <hr>
</div>


<div id="middlebox">
  


  <div class="news_box_grey">
        <h1 class="big">{{ investigation.title }}</h1>
    {% if investigation.description %}
      {{ investigation.description|linebreaks }}
      <div onclick="$(this).next('div.#hidetext').toggle('fast')" style="cursor:pointer;"><b>Edit description</b></span></div>
    {% else %}
      <div onclick="$(this).next('div.#hidetext').toggle('fast')" style="cursor:pointer;"><span class="add">Add description</span></div>
    {% endif %}
         <div id="hidetext" style="display:none;">
                <form action="/investigation/{{ investigation.id }}/edit" method="post" enctype="multipart/form-data">{% csrf_token %}
    <br>
      {% for field in investigationform %}
            {{ field.errors }}
            {{ field }}
          {% endfor %}
        <input type="submit" value="Save" />
      </form>
          </div>  
          </div>
          
<br>

<div class="news_box_grey">
  <h1>Info</h1>   
</div>

<br><br>

<!--
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <h1>Timeline</h1>
  
  <div id="my-timeline"></div>
-->

  {% get_comment_count for investigation as comment_count %}
  {% if comment_count %}
    <h1>{{ comment_count }} comments</h1>
    <hr>
  {% endif %}
  {% get_comment_list for investigation as comment_list %}
  {% for comment in comment_list|fill_tree|annotate_tree %}
    {% ifchanged comment.parent_id %}{% else %}
        </li>
    {% endifchanged %}
  
    {% if not comment.open and not comment.close %}
        </li>
    {% endif %}
      
    {% if comment.open %}
      {% if not comment.parent_id %}
          <ul class="comment-root">
        {% else %}
          <ul class="comment-sub">
        {% endif %}
    {% endif %}
  
    <li>
    
    <div class="comment-container">
      <div class="comment">
          <div class="avatar"><img class="avatar-thumb" src={% thumbnail comment.user.get_profile.avatar 32x32 crop %}></div>
          <span class="threadTitle"><a href="/user/{{ comment.user.id }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></span><br>
          <span class="threadText">{{ comment.submit_date|timesince }} ago</span><br><br>
          {{ comment.comment|linebreaksbr }}
          {% get_comment_form for investigation as form with comment.id %}
          <br><br>
          <div onclick="$(this).next('div.#hidetext').toggle('fast')" style="cursor:pointer;">
            <font color="blue">Reply</font>
          </div>
          <div id="hidetext" style="display:none;">
            <form action="/comments/post/" method="post">{% csrf_token %}
              <input type="hidden" name="next" value="/investigation/{{ investigation.id }}" />
              {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
              {{ form.comment }}
              <br>
                <input type="submit" value="Post">
            </form>
          </div>
        </div>
      </div>

    {% for close in comment.close %}
        </li>
        </ul>
    {% endfor %}
  {% endfor %}
  
  <br>

  <div class="box_color">
  <h1>Write a comment</h1>
  <br>
    {% get_comment_form for investigation as form %}
    <form action="/comments/post/" method="post">{% csrf_token %}
      <input type="hidden" name="next" value="/investigation/{{ investigation.id }}" />
      {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
      {{ form.comment }}
      <br>
        <input type="submit" value="Post">
    </form>
  </div>
  


</div>


<br clear="all">

{% endblock %}