.hidden {
	display: none;
}

.xlinput {
	padding:15px;
    color:#000;
}

.right {
	float:right;
}

.left {
	float:left;
}

#avatar {
	margin-top:4px;
	margin-right: 10px;
}

.well2 {
    width: 90px;
    height: 90px;
    background-color: #f1f1f1;
    margin-bottom: 17px;
    margin-right: 17px;
    padding: 20px;
    border: 2px solid #50b6d4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.well3 {
    width: 130px;
    height: 50px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


.log {
    color: silver;
}

div.scroll {
    height: 250px;
    overflow: auto;
}

div.scroll2 {
    height: 221px;
    overflow: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width:100px;
}

.vcenter {
    margin-top: 30%;
}

.shadow {
    -moz-box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 3px #999;
}

.highlight {
  outline: 0;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

.circle {
    display: block;
    display: block;
    width: 80px;
    height: 80px;
    background: #333;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}