{% extends "userprofile/userprofile_base.html" %}
{% load thumbnail %}

{% block userprofile_leftside %}
    <ul class="tabs">
      <li><a href="/home">Stream</a></li>
      <li class="active"><a href="/home/inventory">Inventory</a></li>
      <li><a href="/home/readinglist">Reading list</a></li>
    </ul>

<div class="well hidden" id="upload">
<form action="/report/add/file" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% for field in uploadform %}
        {{ field.errors }}
        {{ field }}
    {% endfor %}
    <input type="submit" value="Upload" class="btn"/>
<br><br><br>
</form>
</div>

<br><br><br>
    <h4>Files</h4>
    {% for file in files %}
        <div class="post_container">
            <a href="/file/{{ file.id }}/show">{{ file.filename }}</a>
            <br>
            <span class="quiet">{{ file.file.filetype }}
            <br>
            Reference: {{ file.reference }}
            </span>
            <br><br>
        </div>
    {% endfor %}

{% endblock %}


