{% extends "userprofile/userprofile_base.html" %}
{% load thumbnail %}

{% block userprofile_leftside %}
    <ul class="tabs">
      <li><a href="/home">Activity</a></li>
      <li class="active"><a href="/home/inventory">Inventory</a></li>
      <li><a href="/home/readinglist">Reading list</a></li>
      <li><a href="/home/suggestions">Suggestions</a></li>
      <a href="/report" class="btn info right">Upload malware</a>
    </ul>

<h3>Your files</h3>
<div class="well">
<table>
<th>Filename</th>
<th>Reference</th>
{% for file in files %}
    <tr>
        <td>{{ file.filename }}</td>
        {% if file.reference %}
            <td>{{ file.reference }}</td>
        {% else %}
            <td></td>
        {% endif %}
    </<tr>
{%  endfor %}
</table>
</div>

<h3>Your pages</h3>
<div class="well"></div>

<h3>Your references</h3>
{% for ref in references %}
    {{ ref }}
{% endfor %}



{% endblock %}


