{% extends "base.html" %}

{% block jquery %}
        $("#button_block").hide()
        $("#id_comment").focus(function() {
            $(this).animate({"height": "85px"}, "fast" );
            $("#button_block").slideDown("fast");
            return false;
        });
        $("#button_cancel").click(function() {
            $("#id_comment").animate({"height": "18px"}, "fast" );
            $("#button_block").slideUp("fast");
            return false;
        });
        $("#upload_button").click(function() {
            $('#share').fadeOut('fast', function() {
                $('#upload_button').hide()
                $('#upload_cancel_button').show().click(function() {
                   $('#upload').hide();
                   $('#share').show();
                   $('#upload_cancel_button').hide()
                   $('#upload_button').show()
                });
                $('#upload').fadeIn('fast');
            });
            return false;
        });
        $("#new_investigation").click(function() {
            $("#new_investigation_form").fadeIn("fast");
            $("#new_investigation").hide();
            $("#id_title").focus();
            return false;
        });
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Leftside -->
        <div class="span10 columns">
            {% block userprofile_leftside %}{% endblock %}
        </div>
        <!-- Rightside -->
        <div class="span5 columns offset1">
                <h4 class="left">Your investigations</h4><a href="#" style="margin-top:8px;" class="right add" id="new_investigation">New</a>
                <form method="post" action="/investigation/create" id="new_investigation_form" class="hidden"> {% csrf_token %}
                    <input class="left" type='text' name="title" id="id_title"></input>
                    <input type='submit' value="Add" class="btn right"></input>
                </form>
                <br><br>
                {% if investigations %}
                <table class="noborder">
                    {% for investigation in investigations|dictsortreversed:"last_updated"|slice:"5" %}
                        <tr>
                            <td>
                                <a href="/investigation/{{ investigation.id }}"><strong>{{ investigation.title }}</strong></a>
                                <br>
                                <span class="quiet">{{ investigation.last_updated|timesince }} ago</span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <h6>No investigations</h6>
                {% endif %}

            <hr>

            <h4>Your stuff</h4>
                <ul>
                <li><a href="#">{{ files|length }} files</a></li>
                <li><a href="#">{{ docs|length }} documents</li>
                </ul>
            </div>

            {% block userprofile_rightside %}{% endblock %}
    </div>
</div>
{% endblock %}
