{% load thumbnail %}
<html>
<head>
	<title>fordrop</title>
	<link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
	<link rel='stylesheet' href='/site_media/css/jquery-ui.css' type='text/css'>
	<script type="text/javascript" language="javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" language="javascript" src="/site_media/js/jquery-ui-1.8.4.custom.min.js"></script>
</script>


	{% block extrahead %}
   	{% endblock %}
</head>
<body onload="onLoad();" onresize="onResize();">

	<div id="header">
			{% block menu %}
			{% endblock %}
			<div id="logo">
	    		<a href="/"><img src="/site_media/img/logo.png"></a>
			</div>
			<!--
			<div id="login">
				About | Settings | Logout
			</div>
				-->

			<div id="search">
				<form style="display:inline" method="post" action="/search">{% csrf_token %}
					<input class="searchinput" type="text" name="search" value="Search"/>
				</form>
			</div>
	</div>

	<div id="content">
    	{% if messages %}
    		{% for message in messages %}
    			<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    		{% endfor %}
    		<br>
		{% endif %}
		
    	{% block content %}
    	{% endblock %}
    	<br>
    	<br>
    	<br>
    </div>
    <div id="footer">
    	<br>
		{% block footer %}
    	{% endblock %}
    </div>
</body>
</html>