{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}
{% load threadedcomments_tags %}

{% block extrahead %}
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
</script>
{% endblock %}

{% block content %}

	<div id="leftbox">

		<div class="box_color_white">

			<!--
			<a href="#" class="button"><span class="user">Follow</span></a>
			<div class="avatar"><img class="avatar-thumb" src="{% thumbnail user.get_profile.avatar 100x100 crop %}"></div>
			<h1 class="big">{{ user.get_full_name }}</h1>
			<span class="threadText">
				email: jbn@kth.se<br>
				telephone: 08555555<br>
				twitter: crapp<br>
				organisation: kth.se
			</span>
			<br><br>
			-->
			<div id="tabs">
				<ul>
					<li><a href="#dashboard">Dashboard</a></li>
					<li><a href="#stream">Stream</a></li>
					<li><a href="#readinglist">Reading list (3)</a></li>
					<li><a href="#todo">ToDo</a></li>
					<li><a href="#wall">Wall</a></li>
				</ul>

				<div id="dashboard">
					<h1>My investigations</h1>
					<div class="news_box_grey">
						<div class="news-title">Testus utredning</div>
						<span class="threadTextDarker">
							<i>
								Nearly a year ago, topfs2 started working on a remote client for Android phones and was shortly joined by me, not even having my phone yet.
							</i>
						</span>
						<br>
						<span class="threadText">Last activity was {{ user.last_login|timesince }} ago</span>
						<br>
						<br>
					</div>

					<h1>News</h1>
					{% for item in news %}
						<div class="news_box">
							<div class="news-title">{{ item.title|slice:":50" }} ...</div>
							<span class="threadTextDarker">
								<i>
									{{ item.summary_detail.value|striptags|truncatewords:"20" }}
								</i>
							</span>
							<br>
							<span class="threadText">Sans Institue </span><span class="threadText"> | {{ user.last_login|timesince }} ago</span>
						</div>
					{% endfor %}
				</div>

				<div id="stream">
					<br>
					{% for item in stream|dictsortreversed:"time"|slice:":9" %}
						<div class="post_container">
							{% ifequal item.type "comment" %}
								<div class="avatar"><img src="{% thumbnail item.object.user.get_profile.avatar 40x40 crop %}"></div>
								<div class="post_box">
				    				<span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span>
									{% ifequal item.object.content_type.name "file" %}
					    				commented on {{ item.object.content_type }}<a href="/file/{{ item.object.content_object.id }}/show"> #{{ item.object.content_object.id }}, </a>
									{% endifequal %}
									{% ifequal item.object.content_type.name "user" %}
					    				to <a href="/file/{{ item.object.content_object.id }}/show">{{ item.object.content_object.get_full_name }},</a></span>
									{% endifequal %}
									{% ifequal item.object.content_type.name "report" %}
										<span class="threadText">
											<i><a href="/report/{{ item.object.content_object.id }}/show">{{ item.object.content_object.sha1 }}</a></i> ({{ item.object.submit_date|timesince }} ago)
										</span>
									{% endifequal %}
									{% ifequal item.object.content_type.name "tag" %}
										<span class="threadText">
											<i>{{ item.object.content_object }}</i> ({{ item.object.submit_date|timesince }} ago)
										</span>
									{% endifequal %} 
				    				<font color="#222">{{ item.object.comment|linebreaksbr|truncatewords_html:45 }}</font>
									<br>
									<span class="threadText">{{ item.object.submit_date|timesince }} ago</span>
				    			</div>
							{% endifequal %}
							{% ifequal item.type "file" %}
								<div class="avatar"><img class="avatar-thumb" src={% thumbnail item.object.user.get_profile.avatar 40x40 crop %}></div>
								<div class="post_box">
				    				<span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span> 
									uploaded file {{ item.object.filename }} with a filetype of {{ item.object.file.filetype }}
									<br>
									<span class="threadText">{{ item.object.timecreated|timesince }}</span>
								</div>
							{% endifequal %}
							{% ifequal item.type "report" %}
								<div class="avatar"><img class="avatar-thumb" src={% thumbnail item.object.user.get_profile.avatar 40x40 crop %}></div>
								<div class="post_box">
				    				<span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span> 
									reported {{ item.object.report.type }}, {{ item.object.report.value }}
								</div>
								<span class="threadText">{{ item.object.timecreated|timesince }} ago</span>
							{% endifequal %}
						</div>
					{% endfor %}
				</div>

				<div id="readinglist">
					<h1>Reading list</h1>
				</div>

				<div id="todo">
					<h1>ToDo</h1>
				</div>

			<div id="wall">
			{% get_comment_form for user as form %}
				<form action="/comments/post/" method="post">{% csrf_token %}
					<input type="hidden" name="next" value="/" />
					{% for hidden in form.hidden_fields %}
        				{{ hidden }}
    				{% endfor %}
					{{ form.comment }}
					<br>
  					<input type="submit" value="Say">
				</form>

					{% get_comment_count for user as comment_count %}
					{% if comment_count %}
						<h1>{{ comment_count }} comments</h1>
						<hr>
					{% endif %}
					{% get_comment_list for user as comment_list %}
					{% for comment in comment_list|fill_tree|annotate_tree %}
						{% ifchanged comment.parent_id %}{% else %}
	    					</li>
						{% endifchanged %}
						{% if not comment.open and not comment.close %}
						    </li>
						{% endif %}
						{% if comment.open %}
							{% if not comment.parent_id %}
	    						<ul class="comment-root">
	    					{% else %}
	    						<ul class="comment-sub">
		    				{% endif %}
						{% endif %}
						<li>
						<div class="comment-container">
							<div class="comment">
								<div class="avatar"><img class="avatar-thumb" src={% thumbnail comment.user.get_profile.avatar 32x32 crop %}></div>
								<span class="threadTitle"><a href="/user/{{ comment.user.id }}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></span><br>
								<span class="threadText">{{ comment.submit_date|timesince }} ago</span><br><br>
								{{ comment.comment|linebreaksbr }}
								{% get_comment_form for user as form with comment.id %}
								<br><br>
								<div onclick="$(this).next('div.#hidetext').toggle('fast')" style="cursor:pointer;">
									<font color="blue">Reply</font>
								</div>
								<div id="hidetext" style="display:none;">
									<form action="/comments/post/" method="post">{% csrf_token %}
										<input type="hidden" name="next" value="/file/{{ result.id }}/show" />
										{% for hidden in form.hidden_fields %}
	       									{{ hidden }}
	    								{% endfor %}
										{{ form.comment }}
										<br>
	  									<input type="submit" value="Post">
									</form>
								</div>
							</div>
   						</div>
						{% for close in comment.close %}
	    					</li>
	    					</ul>
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
			</div>

	<div id="rightbox">
		<div class="box_color_white">
			Hej	
		</div>
	</div>
	<br clear="all">
{% endblock %}