<html>
<head>
	<title>fordrop</title>
	<link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
</head>
<body>

<div id="container">
<div id="login_container">
    <div id="header">
    	<a href="/"><img src="/site_media/img/logo_crop.png"></img></a>
    </div>
     <div id="content">
		<h2>Welcome!</h2>
		This is fordrop, forensic dropbox.<br>
		<br>
		<a href="https://fordrop.irt.kth.se/accounts/login-federated">Click here to login via your own Identity Provider</a>
	</div> 

</div>
</div>
</body>
</html>
