{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}
{% load threadedcomments_tags %}

{% block menu %}
		<span class="menutext">Home</span>
		<a class="normalLink" href="/investigation">Investigations (0)</a>
		|
		<a class="normalLink" href="/upload">Upload</a>
		<a class="normalLink" href="/report">Report</a>
{% endblock %}

{% block content %}

<div id="leftbox">
<div class="box_color_white">
		<div class="avatar"><img src="{% thumbnail user.get_profile.avatar 100x100%}"></div>
		<h1 class="big">{{ user.get_full_name }}</h1>
		<span class="threadText">
			email: jbn@kth.se<br>
			telephone: 08555555<br>
			twitter: crapp<br>
			organisation: kth.se
		</span>
<br><br>

<div class="box_color_gray">
	<h1>Recomendations</h1>
	Based on your activities there seems to be new objects or reports that could be of interest to you since they have a connection to one or more of your reports, uploads or investigations. 
	<br>
	<br>
{% if files %}
	<table border=0>
		{% for n in files %}
			<tr class="{% cycle row1,row2 %}">
				<td>{{ n.filename }}</td>
				<td align="right">{{ n.timecreated|timesince }} ago</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
<br>
<a class="orange" href="#">See all</a>
</div>

<div class="box_color_gray">
<h1>News</h1>
<ul>
<li>Thinking about Cyber Security Awareness Month in October</li>
<li>DnsMadeEasy under a "quite large and unique" ddos.</li>
<li>Countdown to Tuesday...</li>
<li>Adobe Acrobat Font Parsing Integer Overflow Vulnerability</li>
</ul>
</div>


</div>		
</div>

<div id="rightbox-stream">
	<div class="box_color_white_stream">
	
	<div id="navcontainer">
		<ul id="navlist">
			<li id="active"><a href="#" id="current">Stream</a></li>
			<li><a href="#">Investigations</a></li>
			<li><a href="#">Uploads & reports</a></li>
		</ul>
	</div>

	<br>

	{% for item in stream|dictsortreversed:"time"|slice:":6" %}
		<div class="post_container">
			{% ifequal item.type "comment" %}
				<div class="avatar"><img src="{% thumbnail item.object.user.get_profile.avatar 30x30 %}"></div>
				<div class="post_box">
			    	<span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span><span class="threadText"> Commented on {{ item.object.content_type }}</span>
					{% ifequal item.object.content_type.name "file" %}
						<span class="threadText">
							<i><a href="/file/{{ item.object.content_object.id }}/show">{{ item.object.content_object }}</a></i> ({{ item.object.submit_date|timesince }} ago)
						</span>
					{% endifequal %}
					{% ifequal item.object.content_type.name "report" %}
						<span class="threadText">
							<i><a href="/report/{{ item.object.content_object.id }}/show">{{ item.object.content_object.sha1 }}</a></i> ({{ item.object.submit_date|timesince }} ago)
						</span>
					{% endifequal %}
					{% ifequal item.object.content_type.name "tag" %}
						<span class="threadText">
							<i>{{ item.object.content_object }}</i> ({{ item.object.submit_date|timesince }} ago)
						</span>
					{% endifequal %} 
			    	<br>
			    	{{ item.object.comment|linebreaksbr|truncatewords_html:15 }}
			    </div>
			{% endifequal %}
			{% ifequal item.type "file" %}
				<div class="avatar"><img src={% thumbnail item.object.user.get_profile.avatar 30x30 %}></div>
				<div class="post_box">
			    	<span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span> 
					<span class="threadText">
						 Uploaded file <i>{{ item.object.filename }}</i> ({{ item.object.timecreated|timesince }} ago)
					</span>
					<br>
					Filetype: {{ item.object.file.filetype }}
				</div>
			{% endifequal %}
			{% ifequal item.type "report" %}
				<div class="avatar"><img src={% thumbnail item.object.user.get_profile.avatar 30x30 %}></div>
				<div class="post_box">
			    	<span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span> 
					<span class="threadText">
						 Report (<i>{{ item.object.report.type }}</i>) ({{ item.object.timecreated|timesince }} ago)
					</span>
					<br>
					Value: {{ item.object.report.value }}
				</div>
			{% endifequal %}
		</div>
	{% endfor %}
	
</div>
</div>

<br clear="all">

<div class="box_color">
<h1>Talk to {{ user.first_name }}</h1>
<br>
	{% get_comment_form for user as form %}
	<form action="/comments/post/" method="post">{% csrf_token %}
		<input type="hidden" name="next" value="/file/{{ result.id }}/show" />
		{% for hidden in form.hidden_fields %}
        	{{ hidden }}
    	{% endfor %}
		{{ form.comment }}
		<br>
  		<input type="submit" value="Post">
	</form>
</div>

{% endblock %}