{% extends "base.html" %}
{% load thumbnail %}
{% load comments %}
{% load threadedcomments_tags %}

{% block menu %}
<div id="navcontainer">
	<ul id="navlist">
		<li id="active"><a href="/" id="current"><h1 class="menu"><br>Home</h1><p class="menu">My place</p></a></li>
		<li><a href="/upload"><h1 class="menu"><br>Upload & Report</h1><p class="menu">Share</p></a></li>
		<li><a href="/investigation"><h1 class="menu"><br>Investigations</h1><p class="menu">Collaborate</p></a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div id="rightbox">
  <br>
  <h1 class="big">{{ user.get_full_name }}</h1>
  <div class="avatar"><img class="avatar-thumb" src={% thumbnail user.get_profile.avatar 80x80 crop %}></div>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="/user/edit">Edit profile</a>
</div>

<div id="breadcrumbs"> 
  <br>
  <ul> 
    <li><span>Home</span></li> 
  </ul> 
	<hr>

</div>
 

<div id="middlebox">

  <div id="streambox">
	 <h1>My investigations</h1>
	 <div class="news_box_grey">
      {% for investigation in investigations|dictsortreversed:"lastupdated"|slice:"3" %}
        <a href="/investigation/{{ investigation.id }}">
		    <div class="news-title">{{ investigation.title }}</div>
		    {% if investigation.description %}
          <span class="threadTextDarker">
			     <i>{{ investigation.description.content|linebreaksbr|truncatewords:"50" }}</i>
		      </span>
		      <br>
		    {% endif %}
		    <span class="threadText">Last activity was {{ investigation.lastupdated|timesince }} ago</span>
		    <br>
		    <br>
		    </a>
      {% endfor %}
    </div>
  </div>

  <div id="todobox">
	 <h1>Stream</h1>
	 {% for item in stream|dictsortreversed:"time"|slice:"10" %}
		<div class="post_container">
			{% ifequal item.type "comment" %}
				<div class="avatar"><img class="avatar-thumb" src="{% thumbnail item.object.user.get_profile.avatar 40x40 crop %}"></div>
				<div class="post_box">
	  				<span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span>
					{% ifequal item.object.content_type.name "file" %}
	    				commented on {{ item.object.content_type }}<a href="/file/{{ item.object.content_object.id }}/show"> #{{ item.object.content_object.id }}, </a>
					{% endifequal %}
					{% ifequal item.object.content_type.name "user" %}
						to <a href="/file/{{ item.object.content_object.id }}/show">{{ item.object.content_object.get_full_name }},</a></span>
					{% endifequal %}
					{% ifequal item.object.content_type.name "report" %}
						<span class="threadText">
							<i><a href="/report/{{ item.object.content_object.id }}/show">{{ item.object.content_object.sha1 }}</a></i>
						</span>
					{% endifequal %}
					{% ifequal item.object.content_type.name "tag" %}
						<span class="threadText">
							<i>{{ item.object.content_object }}</i>
						</span>
					{% endifequal %} 
				    <font color="#222">{{ item.object.comment|linebreaksbr|truncatewords:"30" }}</font>
					<br>
					<span class="threadText">{{ item.object.submit_date|timesince }} ago</span>
				 </div>
			{% endifequal %}
			{% ifequal item.type "file" %}
				<div class="avatar"><img class="avatar-thumb" src={% thumbnail item.object.user.get_profile.avatar 40x40 crop %}></div>
				<div class="post_box">
					<span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span> 
					uploaded file {{ item.object.filename }} with a filetype of {{ item.object.file.filetype }}
					<br>
					<span class="threadText">{{ item.object.timecreated|timesince }}</span>
				</div>
			{% endifequal %}
			{% ifequal item.type "report" %}
				<div class="avatar"><img class="avatar-thumb" src={% thumbnail item.object.user.get_profile.avatar 40x40 crop %}></div>
				<div class="post_box">
				    <span class="threadTitle"><a href="/user/{{ item.object.user.id }}">{{ item.object.user.first_name }} {{ item.object.user.last_name }}</a></span> 
					reported {{ item.object.report.type }}, {{ item.object.report.value }}
				</div>
				<span class="threadText">{{ item.object.timecreated|timesince }} ago</span>
			{% endifequal %}
		</div>
	 {% endfor %}
  </div>

  <div id="streambox">
    <br>
    <h1>My library</h1>
          {% for item in files|slice:":5"  %}
            <div class="news_box">
              <div class="news-title"><a href="/file/{{ item.file.id }}/show">{{ item.filename }}</a></span><span class="threadText"> <i>{{ item.file.filetype }}</i></span></div>
              <span class="threadText">{{ item.timecreated|timesince }} ago</span>
            </div>
          {% endfor %}
          {% for item in reports|slice:":5"  %}
            <div class="news_box">
              <div class="news-title"><a href="/report/{{ item.report.id }}/show">{{ item.title }}</a></span><span class="threadText"> <i>{{ item.file.type }}</i></span></div>
              <span class="threadText">{{ item.timecreated|timesince }} ago</span>
            </div>
          {% endfor %}
          {% for item in pages|slice:":5"  %}
            <div class="news_box">
              <div class="news-title"><a href="/report/{{ item.report.id }}/show">{{ item.title }}</a></span><span class="threadText"> <i>{{ item.file.type }}</i></span></div>
              <span class="threadText">{{ item.timecreated|timesince }} ago</span>
            </div>
          {% endfor %}
  </div>


</div>


<br clear="all">
</div>

{% endblock %}