<html>
<head>
<title>fordrop - Forensic Dropbox</head>
<link type="text/css" href="/site_media/css/style-login.css" rel="stylesheet" /> 
</head>
<div id="header">
        <div id="header-center">
                <div id="logo">
                        <a href="/"><img src="/site_media/img/logo.png"></a>
                </div>
<br>
<br>
<br>
<br>
<br>

    <form action="/accounts/login-local/" method="post" enctype="multipart/form-data">{% csrf_token %}
    <br>
        Username: <input type="text" name="username" id="username" /><br>
        Password: <input type="password" name="password" id="password" /><br>
        <input type="submit" value="Login" />
      </form>


<br>
<br>
        </div>
</div>



