<html>
<head>
	<title>fordrop</title>
	<link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
</head>
<body>

<div id="container">
<div id="login_container">
    <div id="header">
    	<a href="/"><img src="/site_media/img/logo_crop.png"></img></a>
    </div>
     <div id="content">
		<h2>Bye!</h2>
		This was fordrop, forensic dropbox.<br>
		<br><br>
		<strong>Status of Local Logout:</strong> <shibmlp logoutStatus/><br>
		You <strong>MUST</strong> close your browser to complete the logout process.
	</div> 

</div>
</div>
</body>
</html>