{% extends "base.html" %}

{% block menu %}
<div id="navcontainer">
  <ul id="navlist">
    <li><a href="/"><h1 class="menu"><br>Home</h1><p class="menu">My place</p></a></li>
    <li><a href="/upload"><h1 class="menu"><br>Upload & Report</h1><p class="menu">Share</p></a></li>
    <li><a href="/investigation"><h1 class="menu"><br>Investigations</h1><p class="menu">Collaborate</p></a></li>
  </ul>
</div>
{% endblock %}

{% block content %}

<div id="rightbox">
</div>

<div id="middlebox">
	<h2>Files uploaded by {{ requser.first_name }} {{ requser.last_name }}</h2>
	<hr>
	<table border=0>
		<th>User</th>
		<th>Filename</th>
		<th>Date</th>
		<th>Reference</th>
		{% for n in files reversed %}
			<tr class="{% cycle row1,row2 %}">
				<td>{{ n.user.first_name }} {{ n.user.last_name }}</td>
				<td><a href="/file/{{ n.file.id }}/show">{{ n.filename }}</a></td>
				<td>{{ n.timecreated|date:"Y-m-d h:i:s" }} ({{ n.timecreated|timesince }} ago)</td>
				{% if n.reference %}
					<td><a href="/search/reference?r={{ n.reference.id }}">{{ n.reference }}</a></td>
				{% else %}
					<td></td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>	
</div>
{% endblock %}