{% extends "apps/investigation/investigation_base.html" %}
{% load thumbnail %}

{% block investigation_content %}
    <div class="news_box_grey">
    <h2>Start new investigation</h2>
    <form action="/investigation/create" method="post" enctype="multipart/form-data">{% csrf_token %}
      {% for field in newinvestigationform %}
            {{ field.errors }}
            {{ field }}
          {% endfor %}
        <input type="submit" value="Start" />
      </form>
    </div>
    <br>

<!--
        <h2>Recent investigations</h2>
  {% for investigation in investigations|dictsortreversed:"lastupdated"|slice:"10" %}
    <a href="/investigation/{{ investigation.id }}"><h3>{{ investigation.title }}</h3></a>
    <span class="threadTextDarker">
      <i>
          {{ investigation.description.content|linebreaksbr|truncatewords:"50" }}<br>
      </i>
    </span>
    <span class="threadText">Last activity was {{ investigation.lastupdated|timesince }} ago</span>
    <br><br>
      <hr>
  {% endfor %}
-->
{% endblock %}