{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="span16 well">
        <h2>Start new investigation</h2>
        <br>
        <form action="/investigation/create" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% for field in newinvestigationform %}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
            <input type="submit" class="btn" value="Start" />
        </form>
    </div>
    {% for investigation in investigations|dictsortreversed:"lastupdated"|slice:"10" %}
        <a href="/investigation/{{ investigation.id }}"><h4>{{ investigation.title }}</h4></a>
        {{ investigation.description.content|linebreaksbr|truncatewords:"50" }}<br>
        <span class="quiet">Last activity was {{ investigation.lastupdated|timesince }} ago</span>
        <br><br>
        <hr>
    {% endfor %}
</div>
{% endblock %}