{% extends "base.html" %}
{% load thumbnail %}

{% block menu %}
    <li><a href="/home"><h3 class="menu">Home</h3><p class="menu">My place</p></a></li>
    <li><a href="/report"><h3 class="menu">Upload & Report</h3><p class="menu">Share</p></a></li>
    <li><a href="#"><h3 class="menu">Explore</h3><p class="menu">Explore</p></a></li>
{% endblock %}

{% block submenu %}
<ul id="saturday">
    {% block investigation_submenu %}{% endblock %}
</ul>
{% endblock %}

{% block content %}
    <div class="span-24 leftcol">
        <hr class="space">
        <h2>{{ investigation.title }}</h2>
        {% block investigation_content %}{% endblock %}
    </div>
{% endblock %}
