{% extends "apps/investigation/investigation_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block investigation_submenu %}
    <li><a href="/investigation/{{ investigation.id }}" title="">Overview</a></li>
    <li><a href="/investigation/{{ investigation.id }}/discussion" title="">Discussion</a></li>
    <li><a href="/investigation/{{ investigation.id }}/timeline" title="">Timeline</a></li>
    <li><a href="/investigation/{{ investigation.id }}/library" title="" class="current">Library</a></li>
{% endblock %}

{% block investigation_content %}
    <div class="news_box_grey">
  <h3>Pages</h3>
    <hr>
  {% for page in investigation.pages.all %}
      <a href="/investigation/{{ investigation.id }}/page/{{ page.id }}">
      <div class="news-title">{{ page.title }}</div>
        <span class="threadTextDarker">
         <i>
          {{ page.content|linebreaksbr|truncatewords:"50" }}
         </i>
        </span>
        <br>
      <span class="threadText">Last activity was {{ page.lastupdated|timesince }} ago</span>
      <br>
      <br>
      </a>
  {% endfor %}
</div>

    <hr class="space">

    <div class="news_box_grey">
  <h3>Files</h3>
    <hr>
  {% for file in files %}
      <a href="/file/{{ file.file.id }}/show">
      <div class="news-title">{{ file.filename }}</div>
        <span class="threadTextDarker">
         <i>
          {{ file.file.filetype }}
         </i>
        </span>
        <br>
      <span class="threadText">Uploaded {{ file.timecreated|timesince }} ago by {{ file.user.get_full_name }}</span>
      <br>
      <br>
      </a>
  {% endfor %}
    </div>
{% endblock %}
</div>



{% block investigation_sidebar %}
     <div class="news_box_grey">
    <h3>People</h3>
    <hr>
    <img class="avatar-shadow" src={% thumbnail investigation.creator.get_profile.avatar 50x50 crop %}>
    {% for user in people %}
    <img class="avatar-shadow" src={% thumbnail user.get_profile.avatar 50x50 crop %}>
    {% endfor %}
    </div>
{% endblock %}