{% extends "apps/investigation/investigation_base.html" %}
{% load thumbnail %}
{% load comments %}

{% block investigation_submenu %}
    <li><a href="/investigation/{{ investigation.id }}" title="">Overview</a></li>
    <li><a href="/investigation/{{ investigation.id }}/discussion" title="">Discussion</a></li>
    <li><a href="/investigation/{{ investigation.id }}/timeline" title="">Timeline</a></li>
    <li><a href="/investigation/{{ investigation.id }}/library" title="" class="current">Library</a></li>
{% endblock %}

{% block investigation_content %}
  <h2>Pages</h2>
  <div class="news_box_grey">
  {% for page in investigation.pages.all %}
      <a href="/investigation/{{ investigation.id }}/page/{{ page.id }}">
      <div class="news-title">{{ page.title }}</div>
        <span class="threadTextDarker">
         <i>
          {{ page.content|linebreaksbr|truncatewords:"50" }}
         </i>
        </span>
        <br>
      <span class="threadText">Last activity was {{ page.lastupdated|timesince }} ago</span>
      <br>
      <br>
      </a>
  {% endfor %}
  </div>
<br>

  <h2>Files</h2>
  <div class="news_box_grey">
  {% for file in files %}
      <a href="/file/{{ file.file.id }}/show">
      <div class="news-title">{{ file.filename }}</div>
        <span class="threadTextDarker">
         <i>
          {{ file.file.filetype }}
         </i>
        </span>
        <br>
      <span class="threadText">Uploaded {{ file.timecreated|timesince }} ago by {{ file.user.get_full_name }}</span>
      <br>
      <br>
      </a>
  {% endfor %}
    </div>
{% endblock %}

{% block investigation_sidebar %}
    <h3>People</h3>
    <img class="avatar-shadow" src={% thumbnail investigation.creator.get_profile.avatar 50x50 crop %}>
    {% for user in people %}
    <img class="avatar-shadow" src={% thumbnail user.get_profile.avatar 50x50 crop %}>
    {% endfor %}
{% endblock %}