{% extends "investigation/investigation_base_wide.html" %}
{% load thumbnail %}

{% block extrahead %}
  <script>
      Timeline_ajax_url="/site_media/js/timeline_2.3.0/timeline_ajax/simile-ajax-api.js";
      Timeline_urlPrefix="/site_media/js/timeline_2.3.0/timeline_js/";       
      Timeline_parameters='bundle=true';
  </script>
  <script src="/site_media/js/timeline_2.3.0/timeline_js/timeline-api.js" type="text/javascript"></script>
  <script src="/site_media/js/timeline_2.3.0/timeline_js/timeline-api.js?bundle=true" type="text/javascript"></script>
  <script src="/site_media/js/timeline_2.3.0/timeline_ajax/simile-ajax-api.js" type="text/javascript"></script>
  <script>
    var jsonurl = '/timeline/{{ investigation.id }}';
    var date = '{{ startdate }}';
  </script>
  <script src="/site_media/js/fd_timeline.js" type="text/javascript"></script>
{% endblock %}

{% block extrabody %}onload="onLoad();" onresize="onResize();"{% endblock %}

{% block investigation_leftside %}
<ul class="tabs">
    <li><a href="/investigation/{{ investigation.id }}">Activity</a></li>
    <li class="active"><a href="/investigation/{{ investigation.id }}/timeline">Timeline</a></li>
    <li><a href="/investigation/{{ investigation.id }}/related">Related</a></li>
    <li><a href="/investigation/{{ investigation.id }}/wiki">Docs</a></li>
</ul>

<br><br><br>

 <div class="well">
  <div id="timeline"></div>
 </div>
    <table border=0 class="noborder">
        <th>Time</th>
        <th>Reporter</th>
        <th></th>
        {% for n in files %}
            <tr class="{% cycle row1,row2 %}">
                <td>{{ n.time_created|date:"Y-m-d H:i:s" }}</td>
                <td><div class="avatar"><img src={% thumbnail n.user.get_profile.avatar 20x20 %}></div><a href="/user/{{ n.user.id }}">{{ n.user.first_name }} {{ n.user.last_name }}</a></td>
                <td><a href="/file/{{ n.file.id }}/show">{{ n }}</a></td>
            </tr>
        {% endfor %}
        {% for n in investigation.posts.all %}
             <tr class="{% cycle row1,row2 %}">
                 <td>{{ n.time_created|date:"Y-m-d H:i:s" }}</td>
                 <td><div class="avatar"><img src={% thumbnail n.author.get_profile.avatar 20x20 %}></div><a href="/user/{{ n.author.id }}">{{ n.author.first_name }} {{ n.author.last_name }}</a></td>
                 <td>{{ n.post|slice:":50" }} ..</td>
             </tr>
         {% endfor %}
     </table>

 </div>
{% endblock %}
